template(name='nav')
    #topnav.topnav.ui.attached.borderless.five.item.large.menu
        if is_loading
            .icon.item
                i.big.spinning.grey.yin.yang.icon.cancel
        // else 
        //     a.item.zoomer(href='/' class="{{isActivePath '/'}}" title='food')
        //         // +i name='home' cl='ui inline mini image'
        //         img.ui.avatar.image(src="https://www.lefrenchcafeboulder.com/images/logo.svg")
        a.item.zoomer(href='/dishes' class="{{isActivePath '/dishes'}}" title='dishes')
            +i name='food' cl='ui inline mini image'
        a.item.zoomer(href='/orders' class="{{isActivePath '/orders'}}" title='orders')
            +i name='list' cl='ui inline mini image'
        // if is_admin
        //     a.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
        //         +i name='tasks' cl='ui inline mini image'
        //     a.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='delta')
        //         +i name='database' cl='ui inline mini image'
        if currentUser
            //- a.icon.item(href="/alerts" class="{{isActivePath '/alerts'}}")
            //-     i.bell.icon
            a.item.zoomer(href='/user/#{currentUser.username}/credit' class="{{isActivePath '/cart'}}" title='cart')
                +i name='shopping-cart' cl='ui inline mini image'
            a.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute regex='user_credit'}}" title='your credits')
                .ui.inline.header #{currentUser.credit}f
            a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                if currentUser.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                span.mobile.hidden #{currentUser.name}
                    //- |${{int currentUser.credit}}
        unless currentUser
            a.item(href='/login' title='login') 
                //- i.sign.in.icon
                +i name='internal'
                |login



template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.label #{log_type}
                small #{when}
