template(name='nav')
    // https://fomantic-ui.com/elements/icon.html#/icon
    #topnav.topnav.ui.attached.borderless.large.menu
        if is_loading
            .icon.item
                i.big.loading.grey.food.icon.cancel
        else 
            a.icon.item.toggle_sidebar.no_blink
                .ui.mini.image.leftmenu
                    .mobile.hidden
                        +i name='menu--v1'
                    img.ui.mini.image.mobile.only(src="/android-chrome-96x96.png")
        a.header.item.zoomer.mobile.hidden(href='/')
            // +i name='food' cl='ui inline mini image'
            // i.home.icon
            // |Nude Foods Market
            .mobile.hidden
                img.ui.small.image(src="https://nudefoodsmarket.com/wp-content/uploads/2021/03/logo-smaller-300x87.jpg")
            img.ui.mini.image.mobile.only(src="/android-icon-48x48.png")
            // span.mobile.hidden nude foods market
        .search.item.zoomer.mobile.hidden(title='search')
            .ui.icon.transparent.input
                i.search.icon
                input.search_global(type='text')
        // else 
        //     a.item.zoomer(href='/' class="{{isActivePath '/'}}" title='food')
        //         // +i name='home' cl='ui inline mini image'
        //         img.ui.avatar.image(src="https://www.lefrenchcafeboulder.com/images/logo.svg")
        // a.icon.item.zoomer(href='/p/regenerative_agg' class="{{isActivePath '/shop'}}" title='shop')
        //     i.refresh.large.icon
        a.icon.item.zoomer.mobile.hidden(href='/shop' class="{{isActivePath '/shop'}}" title='shop')
            .ui.mini.image
                +i name='ingredients' cl=''
        a.icon.item.zoomer.mobile.hidden(href='/sources' class="{{isActivePath '/sources'}}" title='sources')
            .ui.mini.image.farm
                +i name='farm' cl=''
        a.icon.item.zoomer.mobile.hidden(href='/recipes' class="{{isActivePath '/recipes'}}" title='recipes')
            .ui.mini.image.recipes
                +i name='cookbook' cl=''
        unless currentUser
            a.icon.item.zoomer.mobile.hidden(href='/p/about' class="{{isActivePath '/about'}}" title='about')
                // i.info.large.icon
                .ui.mini.image.info
                    +i name='information--v1' cl=''
                // i.cart.icon
                // strong.mobile.hidden about
        a.icon.item.zoomer.mobile.hidden(href='/store' class="{{isActivePath '/store'}}")
            // +i name='shop' cl=''
            // i.building.large.icon
            .ui.mini.image.shop
                +i name='shop' cl=''
            // i.cart.icon
        a.icon.item.zoomer.mobile.hidden(href='/contact' class="{{isActivePath '/contact'}}" title='contact')
            +i name='phone' cl='ui inline mini image'
            // i.large.phone.icon
            // i8.newspaper.icon
            // strong.mobile.hidden contact
        // a.item.zoomer(href='/blog' class="{{isActivePath '/blog'}}" title='blog')
        //     // +i name='list' cl='ui inline mini image'
        //     i.newspaper.large.icon
        //     // strong.mobile.hidden news
        .right.menu
            if currentUser
                // a.icon.item(href="/alerts" class="{{isActivePath '/alerts'}}")
                //     i.bell.large.yellow.icon
                // a.icon.item(href="/cart" class="{{isActivePath '/cart'}}")
                a.icon.item.toggle_cartbar
                    // i.large.cart.icon
                    .ui.mini.image.cart
                        +i name='shopping-cart' cl=''
                    if cart_items.count
                        strong #{cart_items.count} ($#{my_cart_subtotal})
                a.item.zoomer.toggle_topbar(title='alerts')
                    // i.wallet.icon
                    .ui.mini.image.bell
                        +i name='notification' cl=''
                // a.item.zoomer(href='/user/#{currentUser.username}/credit' class="{{isActiveRoute 'user_credit'}}" title='current wallet balance')
                a.item.zoomer.toggle_walletbar(title='nudebucks')
                    // i.wallet.icon
                    .ui.mini.image.wallet
                        +i name='wallet' cl=''
                    strong ${{int currentUser.credit}}
                    // i.cart.icon
                // a.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute regex='user_credit'}}" title='your credits')
                //     .ui.inline.header #{currentUser.credit}f
                // a.item.mobile.hidden(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                //     if currentUser.image_id
                //         img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                //     else
                //         i.user.icon
                //     strong.mobile.hidden #{currentUser.name}
                a.icon.item.toggle_rightbar.no_blink
                    .ui.mini.image.rightmenu
                        if currentUser.image_id
                            img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                        else
                            i.user.icon
                        strong.mobile.hidden #{currentUser.name}
                    // i.bars.large.icon
                        
        unless currentUser
            if subs_ready
                a.item(href='/login' title='login') 
                    i.sign.in.large.icon
                    // +i name='internal'
                    |login
            else 
                i.food.loading.icon


template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


// template(name='latest_activity')
//     .ui.grey.header 
//         i.grey.rss.icon
//         |all activity
//     .ui.list
//         each latest_activity
//             .item 
//                 img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
//                 |#{text} #{body} 
//                 .ui.label #{log_type}
//                 small #{when}


template(name='footer')
    .ui.hidden.divider
    .ui.stackable.padded.grid
        .four.column.row
            .column
                img.ui.small.image(src="https://nudefoodsmarket.com/wp-content/uploads/2021/03/logo-smaller-300x87.jpg")
            
                .ui.link.list
                    a.item hello@nudefoodsmarket.com
                    a.item 555 30th Street
                    a.item Boulder, CO 80303
                    a.item (720) 815-5588
            .column
                .ui.link.animated.selection.grey.list
                    a.item(href="/cart") 
                        i.cart.icon
                        |cart
                    a.item(href='/contact')
                        i.phone.icon
                        |contact us
                    a.item 
                        i.smile.icon
                        |get involved
                    a.item 
                        i.home.icon
                        |home
                    a.item(href='/account') 
                        i.user.icon
                        |account
                    a.item(href='/p/newsletter') 
                        i.newspaper.icon
                        | newsletter
                    a.item(href='/p/team') 
                        i.users.icon
                        |nude foods team
                    a.item(hre='/p/refer') 
                        i.reply.icon
                        |refer a friend
                    a.item(hre='/shop') 
                        i.cart.icon
                        |shop
                    a.item(href='/p/transparency')
                        |transparency
                    a.item(href='/p/hiring') 
                        |we’re hiring!
            .column
                .ui.link.animated.selection.list
                    a.item(href='/p/faq') faq
                    a.item(href='p/how') how we work
                    a.item(href='/p/privacy-policy') privacy policy
                    a.item(href='/p/tos') terms of service
            .column
                +icolor name='facebook'
                +icolor name='instagram'





template(name='topbar')
    .ui.fluid.attached.segment.topbar.top.sidebar
        .ui.middle.aligned.divided.list
        .ui.list
            each recent_alerts
                +recent_alert
        a.ui.basic.button.item.close_topbar(href="/inbox")
            i.inbox.icon
            |inbox
        
// template(name='recent_alert')        
//     .item.alert
//         .right.floated.content
//             i.eye.link.icon.mark_read(title='mark read')
//         img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
//         .content
//             .header
//                 |#{description} 
//             .description #{author.name} #{when}
            
            
            
            
template(name='cartbar')
    .ui.right.sidebar.cartbar
        +cart
        
template(name='walletbar')
    .ui.right.sidebar.walletbar
        +user_credit
        
template(name='right_sidebar')
    .ui.right.sidebar.vertical.borderless.thin.menu.rightbar
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
            img.ui.avatar.compact.image(src="{{c.url currentUser.image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{currentUser.name}
        with currentUser
            a.item.toggle_rightbar(href="/user/#{username}" class="{{isActiveRoute regex='user_dashboard'}}")
                +i name='dashboard' cl='ui avatar image'
                // i.dashboard.icon
                |dashboard
            a.item.toggle_rightbar(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                +i name='money' cl='ui avatar image'
                // i.coins.icon
                |credit
            a.item.toggle_rightbar(href="/user/#{username}/orders" class="{{isActiveRoute 'user_orders'}}")
                +i name='check' cl='ui avatar image'
                // i.money.icon
                |orders
            a.item.toggle_rightbar(href="/user/#{username}/subscriptions" class="{{isActiveRoute 'user_subscriptions'}}")
                +i name='clock' cl='ui avatar image'
                // i.clock.icon
                |subscriptions
            a.item.toggle_rightbar(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                +i name='friends' cl='ui avatar image'
                // i.users.icon
                |friends
            a.item.toggle_rightbar(href="/user/#{username}/cart" class="{{isActiveRoute 'user_cart'}}")
                +i name='shopping-cart' cl='ui avatar image'
                // i.cart.icon
                |cart
            a.item.toggle_rightbar(href="/user/#{username}/giftcards" class="{{isActiveRoute 'user_giftcards'}}")
                +i name='certificate' cl='ui avatar image'
                // i.certificate.icon
                |gift cards
                
            // a.item.toggle_rightbar.no_blink(href="/user/#{username}/credits" class="{{isActiveRoute 'user_credits'}}")
            //     | #{total_credit_amount}p received
            //     i.chevron.down.icon
            // a.item.toggle_rightbar.no_blink(href="/user/#{username}/debits" class="{{isActiveRoute 'user_sent'}}")
            //     | #{currentUser.total_debit_amount}p sent
            //     i.chevron.up.icon
        // .ui.divider
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}/edit" title='edit your account')
            // i.cog.icon
            +i name='settings' cl='ui avatar image'
            |settings
        // a.item.toggle_nightmode.toggle_rightbar.no_blink(href="#")
        //     i.lightbulb.icon
        //     |dark mode
        a.item.logout
            if is_logging_out
                i.refresh.loading.icon
            else
                +i name='exit-sign' cl='ui avatar image'
                // i.sign.out.icon
            |logout



template(name='left_sidebar')
    .ui.left.thin.sidebar.vertical.borderless.menu
        // a.item.toggle_sidebar.no_blink(href="/" class="{{isActiveRoute '/'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |One
        // a.item.set_member.toggle_sidebar.no_blink(href="/m/member" class="{{isActivePath 'm/member'}}" title='players')
        a.item.toggle_sidebar.zoomer.mobile.only(href='/' class="{{isActivePath '/'}}" title='home')
            // +i name='food' cl='ui inline mini image'
            // i.home.icon
            img.ui.small.centered.image(src="https://nudefoodsmarket.com/wp-content/uploads/2021/03/logo-smaller-300x87.jpg")
            // span.mobile.hidden nude foods market
        // .search.item.zoomer(title='search')
        //     .ui.icon.transparent.input
        //         i.search.icon
        //         input.search_global(type='text')
        // else 
        //     a.item.toggle_sidebar.zoomer(href='/' class="{{isActivePath '/'}}" title='food')
        //         // +i name='home' cl='ui inline mini image'
        //         img.ui.avatar.image(src="https://www.lefrenchcafeboulder.com/images/logo.svg")
        a.item.toggle_sidebar.zoomer(href='/shop' class="{{isActivePath '/shop'}}" title='shop')
            .ui.mini.image
                +i name='food-cart' cl=''
            // i.cart.icon
            | shop
        a.item.toggle_sidebar.zoomer(href='/p/about' class="{{isActivePath '/about'}}" title='about')
            .ui.mini.image.info
                +i name='information--v1' cl=''
            // i.info.icon
            | about
        a.item.toggle_sidebar.zoomer(href='/sources' class="{{isActivePath '/sources'}}")
            .ui.mini.image.farm
                +i name='farm' cl=''
            // i.info.icon
            | sources
        a.item.toggle_sidebar.zoomer(href='/recipes' class="{{isActivePath '/recipes'}}")
            .ui.mini.image.info
                +i name='cookbook' cl=''
            // i.food.icon
            |recipes
        // unless currentUser
        //     a.item.toggle_sidebar.zoomer(href='/p/get-involved' class="{{isActivePath '/p/get-involved'}}" title='news')
        //         +i name='list' cl='ui inline mini image'
        //         // i.newspaper.icon
        //         strong.mobile.hidden get involved
        a.item.toggle_sidebar.zoomer(href='/contact' class="{{isActivePath '/contact'}}" title='news')
            +i name='phone' cl='ui inline mini image'
            // i.phone.icon
            | contact
        // a.item.toggle_sidebar.zoomer(href='/news' class="{{isActivePath '/news'}}" title='news')
        //     +i name='list' cl='ui inline mini image'
        //     // i.newspaper.icon
        //     strong.mobile.hidden news
        // if is_admin
        //     a.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
        //         +i name='tasks' cl='ui inline mini image'
        //     a.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='delta')
        //         +i name='database' cl='ui inline mini image'
        //     |offers
        a.item.toggle_sidebar(href="/blog" class="{{isActivePath '/m/post'}}")
            // i.newspaper.icon
            +i name='blog' cl='ui inline mini image'
            |blog
        if is_in_admin
            a.icon.item.toggle_admin.toggle_sidebar.no_blink
                |toggle admin
                if is_admin
                    i.shield.icon
                else
                    i.shield.icon
            
        if is_admin
            .divider
            a.item.set_model.toggle_sidebar.no_blink(href="/m/model" class="{{isActivePath '/m/model'}}")
                // i.database.icon
                +i name='shield' cl='ui inline mini image'
                |admin
            a.item.set_user.toggle_sidebar.no_blink(href="/users" class="{{isActiveRoute '/users'}}")
                +i name='groups' cl='ui inline mini image'
                // i.users.icon
                | users
            a.item.toggle_sidebar.zoomer(href='/orders' class="{{isActivePath '/orders'}}" title='orders')
                +i name='list' cl='ui inline mini image'
                // i.list.icon
                | orders
                