template(name='nav')
    #topnav.topnav.ui.attached.borderless.large.menu
        if is_loading
            .icon.item
                i.big.spinning.grey.food.icon.cancel
        a.icon.item.toggle_sidebar.no_blink
            i.bars.icon
                
        a.item.zoomer(href='/' class="{{isActivePath '/'}}" title='home')
            // +i name='food' cl='ui inline mini image'
            // i.home.icon
            img.ui.small.image(src="https://nudefoodsmarket.com/wp-content/uploads/2021/03/logo-smaller-300x87.jpg")
            // span.mobile.hidden nude foods market
        .search.item.zoomer(title='search')
            .ui.transparent.icon.input
                i.search.icon
                input.search_global(type='text')
        // else 
        //     a.item.zoomer(href='/' class="{{isActivePath '/'}}" title='food')
        //         // +i name='home' cl='ui inline mini image'
        //         img.ui.avatar.image(src="https://www.lefrenchcafeboulder.com/images/logo.svg")
        a.item.zoomer(href='/shop' class="{{isActivePath '/shop'}}" title='shop')
            .ui.mini.image.cart
                +i name='shopping-cart' cl=''
            // i.cart.icon
            strong.mobile.hidden shop
        a.item.zoomer(href='/about' class="{{isActivePath '/about'}}" title='about')
            .ui.mini.image.info
                +i name='information--v1' cl=''
            // i.cart.icon
            strong.mobile.hidden about
        a.item.zoomer(href='/orders' class="{{isActivePath '/orders'}}" title='orders')
            +i name='list' cl='ui inline mini image'
            // i.list.icon
            strong.mobile.hidden orders
        a.item.zoomer(href='/p/get-involved' class="{{isActivePath '/p/get-involved'}}" title='news')
            // +i name='list' cl='ui inline mini image'
            // i.newspaper.icon
            strong.mobile.hidden get involved
        a.item.zoomer(href='/p/contact' class="{{isActivePath '/contact'}}" title='news')
            // +i name='list' cl='ui inline mini image'
            // i8.newspaper.icon
            strong.mobile.hidden contact us
        // a.item.zoomer(href='/news' class="{{isActivePath '/news'}}" title='news')
        //     +i name='list' cl='ui inline mini image'
        //     // i.newspaper.icon
        //     strong.mobile.hidden news
        a.item.zoomer(href='/chat' class="{{isActivePath '/chat'}}" title='chat')
            +i name='chat' cl='ui inline mini image'
            // i.chat.icon
            strong.mobile.hidden chat
        if is_admin
            a.item(href='/tasks' class="{{isActivePath '/tasks'}}" title='tasks')
                +i name='tasks' cl='ui inline mini image'
            a.item(href='/m/model' class="{{isActivePath '/m/model'}}" title='delta')
                +i name='database' cl='ui inline mini image'
        if currentUser
            a.icon.item(href="/alerts" class="{{isActivePath '/alerts'}}")
                i.bell.icon
            a.item.zoomer(href='/user/#{currentUser.username}/credit' class="{{isActivePath '/cart'}}" title='current wallet balance')
                .ui.mini.image.wallet
                    +i name='wallet' cl=''
                // i.cart.icon
            // a.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute regex='user_credit'}}" title='your credits')
            //     .ui.inline.header #{currentUser.credit}f
            a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                if currentUser.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                strong.mobile.hidden #{currentUser.name}
                    //- |${{int currentUser.credit}}
            a.icon.item.toggle_rightbar.no_blink.penny.add_global_karma
                i.bars.icon
                    
        unless currentUser
            a.item(href='/login' title='login') 
                i.sign.in.icon
                // +i name='internal'
                |login



template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.label #{log_type}
                small #{when}


template(name='footer')
    .ui.stackable.padded.grid
        .four.column.row
            .column
                .ui.link.list
                    a.item hello@nudefoodsmarket.com
                    a.item 555 30th Street
                    a.item Boulder, CO 80303
                    a.item (720) 815-5588
            .column
                .ui.link.animated.selection.grey.list
                    a.item(href="/cart") 
                        i.cart.icon
                        |cart
                    a.item(href='/cart')
                        | checkout
                    a.item(href='/contact')
                        i.phone.icon
                        |contact us
                    a.item 
                        i.smile.icon
                        |get involved
                    a.item 
                        i.home.icon
                        |home
                    a.item(href='/account') 
                        i.user.icon
                        |account
                    a.item(href='/p/newsletter') 
                        i.newspaper.icon
                        | newsletter
                    a.item(href='/p/team') 
                        i.users.icon
                        |nude foods team
                    a.item(hre='/p/refer') 
                        i.reply.icon
                        |refer a friend
                    a.item(hre='/shop') 
                        i.cart.icon
                        |shop
                    a.item(href='/p/transparency')
                    
                        |transparency
                    a.item(href='/p/hiring') We’re Hiring!
            .column
                .ui.link.animated.selection.list
                    a.item(href='/p/faq') faq
                    a.item(href='p/how') how we work
                    a.item(href='/p/privacy-policy') privacy policy
                    a.item(href='/p/tos') terms of service
            .column
                +i name='facebook'
                +i name='instagram'





template(name='topbar')
    .ui.fluid.attached.segment
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.eye.link.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{when}
            
            
            
            
template(name='right_sidebar')
    .ui.right.sidebar.vertical.borderless.inverted.menu
        // a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |#{currentUser.name}
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}/" class="{{isActiveRoute 'user_dashboard'}}")
            | dashboard (#{currentUser.points}p)
            i.dashboard.icon
        
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}/credits" class="{{isActiveRoute 'user_credits'}}")
            | #{currentUser.total_credit_amount}p received
            i.chevron.down.icon
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}/debits" class="{{isActiveRoute 'user_sent'}}")
            | #{currentUser.total_debit_amount}p sent
            i.chevron.up.icon
        .ui.divider
        a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}/edit" title='edit your account')
            i.cog.icon
            |settings
        // a.item.toggle_nightmode.toggle_rightbar.no_blink(href="#")
        //     i.lightbulb.icon
        //     |dark mode
        a.item.logout(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}" )
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.vertical.borderless.inverted.menu
        // a.item.toggle_sidebar.no_blink(href="/" class="{{isActiveRoute '/'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |One
        // a.item.set_member.toggle_sidebar.no_blink(href="/m/member" class="{{isActivePath 'm/member'}}" title='players')
        a.item.set_member.toggle_sidebar.no_blink(href="/users" class="{{isActivePath 'users'}}" title='users')
            i.users.icon
            | users
        a.item.toggle_sidebar.no_blink(href="/reddit" class="{{isActivePath '/reddit'}}")
            i.reddit.icon
            |reddit
        a.item.toggle_sidebar.no_blink(href="/stack" class="{{isActivePath '/stack'}}")
            i.stack.exchange.icon
            |stack exchange
        a.item.toggle_sidebar.no_blink(href="/questions" class="{{isActivePath '/questions'}}")
            i.question.icon
            |questions
        a.item.toggle_sidebar.no_blink(href="/m/offer" class="{{isActivePath '/m/offer'}}")
            i.hand.holding.heart.icon
            |offers
        a.item.toggle_sidebar.no_blink.set_post(href="/m/post" class="{{isActivePath '/m/post'}}")
            i.newspaper.icon
            |news
        a.item.toggle_sidebar.no_blink(href="/m/collective" class="{{isActivePath 'requests'}}")
            i.users.icon
            |collectives
        a.item.toggle_sidebar.no_blink.set_bug(href="/m/bug" class="{{isActivePath '/m/bug'}}")
            i.bug.icon
            |bugs
        a.icon.item.toggle_sidebar.no_blink.set_photo(href="/m/photo" class="{{isActivePath '/m/photo'}}" title='photos')
            i.picture.icon
            |photos  
        a.icon.item.toggle_sidebar.no_blink.set_expense(href="/m/expense" class="{{isActivePath '/m/expense'}}" title='expenses')
            i.dollar.icon
            |expenses            
        // a.item.toggle_sidebar.no_blink.set_rental(href="/m/rental" class="{{isActivePath regex='rentals'}}")
        //     i.clock.icon
        //     |rentals
        // if has_badge 'facilitator'
        // a.item.toggle_sidebar.no_blink(href="/chat" class="{{isActivePath '/chat'}}" title='chat') 
        //     |chat
        //     i.chat.icon
        // if is_eric
        //     a.icon.item.toggle_dev.toggle_sidebar.no_blink
        //         |toggle dev
        //         if is_dev
        //             i.code.blue.icon
        //         else
        //             i.code.icon
        if is_in_admin
            a.icon.item.toggle_admin.toggle_sidebar.no_blink
                |toggle admin
                if is_admin
                    i.shield.blue.icon
                else
                    i.shield.icon
            
        if is_admin
            // a.item.toggle_sidebar.no_blink.set_badge(href="/m/badge" class="{{isActivePath 'badges'}}")
            //     i.certificate.blue.icon
            //     | badges
            // a.item.toggle_sidebar.no_blink.set_debit(href="/m/debit" class="{{isActivePath regex='rentals'}}")
            //     i.gift.blue.icon
            //     |gifts
            .divider
            // a.item.toggle_sidebar.no_blink.set_project(href="/m/project" class="{{isActivePath regex='projects'}}")
            //     i.tasks.blue.icon
            //     | projects
            // a.item.toggle_sidebar.no_blink(href="/m/room" class="{{isActiveRoute 'requests'}}")
            //     i.building.blue.icon
            //     |rooms
            a.blue.item.set_model.toggle_sidebar.no_blink(href="/m/model" class="{{isActivePath '/m/model'}}")
                |admin
                i.database.blue.icon
            a.item.set_user.toggle_sidebar.no_blink(href="/m/user" class="{{isActiveRoute '/m/user'}}")
                i.blue.users.icon
                | all users