// template(name='users') 
//     .ui.padded.grid
//         .row
//             .sixteen.wide.column
//                 //- .ui.center.aligned.header 
//                 //-     +i name='groups'
//                 //-     //- i.users.icon
//                 //-     |users
//                 .ui.left.icon.input
//                     i.search.icon
//                     input.username_search(type='text' placeholder='lookup user' autofocus='autofocus')
//                 if is_admin
//                     .ui.button.add_user
//                         |add user
//                 .ui.hidden.divider
//                 .ui.centered.five.stackable.cards
//                     each users
//                         +user
                
// template(name='user')                
//     .ui.card
//         .image
//             a(href="/user/#{username}/")
//                 img.ui.small.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
//             //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
//         .content
//             a(href="/user/#{username}/")
//                 h2.ui.center.aligned.header #{first_name} #{last_name} 
//                 .ui.small.header @#{username}
//             each five_tags
//                 .ui.compact.small.button.person_tag(class=tag_class) 
//                     strong #{this}
            
            
// template(name='user_card_template')                
//     .ui.horizontal.fluid.card
//         .image
//             //- a(href="/user/#{username}/")
//             //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
//             img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
//         .content
//             a(href="/user/#{username}/")
//                 h2.ui.center.aligned.header #{first_name} #{last_name} 
//                 .ui.small.header @#{username}
//             each five_tags
//                 .ui.compact.small.button.person_tag(class=tag_class) 
//                     strong #{this}
//             .ui.grey.header #{total_sales} sales
//             .ui.grey.header #{total_revenue} total revenue
