template(name='dishes')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header menu
            if currentUser
                a.ui.icon.circular.button.add_dish(title='cook')
                    i.plus.green.large.icon
            
            .ui.left.icon.search.small.input
                i.search.icon.refresh_tags
                input#search_ingredient.prompt(type='text' autocomplete="off" placeholder='ingredients')
            if selected_ingredient_plural
                .ui.icon.circular.black.compact.button.clear_selected_ingredients
                    i.remove.icon
            each selected_ingredients
                button.ui.blue.compact.circular.small.button.unselect_ingredient(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            +i name='ingredients' cl='ui inline mini image'
            each ingredients
                button.ui.circular.compact.small.button.ingredient_result(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            // .spacer
            // .ui.circular.compact.button.toggle_delivery(class=toggle_delivery_class)
            //     +i name='deliver-dish' cl='ui inline avatar image' 
            //     |delivery
            // .ui.circular.compact.button.toggle_pickup(class=toggle_pickup_class)
            //     +i name='doormat' cl='ui inline avatar image'
            //     |pickup
            // .ui.circular.compact.button.toggle_open(class=toggle_open_class)
            //     +i name='checkmark' cl='ui inline avatar image'
            //     |open
            // .ui.small.inline.header available
            // .ui.circular.compact.small.button
            //     +i name='present' cl='ui mini inline image'
            //     |now
            // .ui.circular.compact.small.button
            //     +i name='today' cl='ui mini inline image'
            //     |today
            // .ui.circular.compact.small.button
            //     +i name='date-to' cl='ui mini inline image'
            //     |tomorrow

                
            if selected_tags
                #clear_tags.ui.active.icon.button
                    i.remove.icon
                each selected_tags
                    .unselect_tag.ui.active.button
                        strong #{this}
            each all_tags
                .ui.compact.button.select_tag(class=cloud_tag_class) 
                    strong #{this.name}
            
        .sixteen.wide.column
            //- .sorting_row
            //-     .ui.icon.input
            //-         i.search.icon
            //-         input.ingredient_search(type='text' placeholder='search...')
            //-     |sort by
            //-     .ui.compact.small.menu
            //-         .ui.simple.dropdown.item
            //-             strong #{current_dish_sort_label}
            //-             i.dropdown.icon
            //-             .menu
            //-                 +set_dish_sort_key key='price_per_serving' label='$/serving' icon='money'
            //-                 +set_dish_sort_key key='datetime_available' label='available' icon='clock'
            //-                 //- +set_dish_sort_key key='_timestamp' label='added' icon='clock'
            //-                 +set_dish_sort_key key='comment_count' label='comment count' icon='chat'
            //-     .ui.compact.icon.circular.button.set_sort_direction(title='toggle sort direction')
            //-         if sorting_up
            //-             i.sort.amount.down.icon
            //-         else
            //-             i.sort.amount.up.icon
            //-     |&nbsp;
            //-     |&nbsp;
            //-     //- .ui.inline.small.grey.header
            //-     //-     |show
            //-     //- .ui.compact.menu
            //-     //-     .ui.simple.dropdown.item
            //-     //-         strong #{dish_limit}
            //-     //-         i.dropdown.icon
            //-     //-         .menu
            //-     //-             +set_dish_limit amount=1
            //-     //-             +set_dish_limit amount=5
            //-     //-             +set_dish_limit amount=10
            //-     //-             +set_dish_limit amount=20
            //- .spacer 
            .ui.stackable.cards
                each dish_docs
                    +dish_card






        
template(name='set_dish_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        

template(name='set_view_mode_dish')
    .item.set_view
        i.icon(class=icon)
        |#{title}


template(name='set_dish_limit')
    .item.set_limit #{amount}



template(name='dish_card')
    .ui.card(class=dish_card_class)
        a.image.zoomer(href="/dish/#{_id}") 
            img.ui.zoom.pointer.goto_dish.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.inline.header(href="/dish/#{_id}") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_ingredients' true
            // +ismall name='ingredients'
            each ingredients
                .ui.small.circular.label #{this}
        //- .ui.inline.small.header tags
        // .content
        //     .right.floated.meta
        //         | {{from_now datetime_available}}
        //     //- if session_is 'view_users' true
        // //- a.image(href="/dish/#{_id}")
            
        .content    
            .ui.header 
                |${{fixed price_usd}}
            div
            if delivery
                +i name='deliver-dish' cl='ui avatar image'
                if delivery_fee
                    .ui.inline.header(title='delivery fee') $#{delivery_fee}
            //- if open
            //-     +i name='checkmark' cl='ui avatar image'
            //- else 
            //-     i.ban.icon(title='not open to new orders')
            if pickup
                +i name='doormat' cl='ui avatar image'
