template(name='dishes')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header
                |#{dish_count}
                |dishes
            .ui.icon.inline.input
                if dish_query
                    i.remove.link.icon.clear_dish_query(title='clear search')
                else 
                    i.search.icon
                input#dish_search(type='text' placeholder='title...' value=dish_query)
            if currentUser
                a.ui.icon.button.add_dish(title='cook')
                    i.plus.green.large.icon
            
            // .ui.left.icon.search.input
            //     i.search.icon.refresh_tags
            //     input#search_ingredient.prompt(type='text' autocomplete="off" placeholder='ingredients')
            // if picked_ingredient_plural
            //     .ui.icon.black.compact.button.clear_picked_ingredients
            //         i.remove.icon
            .ui.basic.icon.circular.button.toggle_gf(class=toggle_gf_class)
                +i name='no-gluten' cl='ui mini inline image'
            .ui.basic.icon.circular.button.toggle_vegan(class=toggle_vegan_class)
                +i name='vegan-symbol' cl='ui mini inline image'
            each picked_ingredients
                button.ui.blue.compact.small.circular.button.unpick_ingredient(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            +i name='ingredients' cl='ui inline mini image'
            each ingredients
                button.ui.compact.tertiary.circular.button.pick_ingredient(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            each picked_sections
                button.ui.blue.compact.small.circular.button.unpick_section(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            div
            +i name='clock' cl='ui inline mini image'
            each sections
                button.ui.compact.circular.basic.button.pick_section(tabindex="0" class=result_class title=count) #{title}
                    //- small #{count}
            // unless one_post
            .sorting_row
                // +session_set key='view_users' value='grid' icon='th' 
                // +session_set key='view_users' value='list' icon='list'
                // +session_set key='sort_users_direction' value='-1' icon='chevron down'
                // +session_set key='sort_users_direction' value='1' icon='chevron up'
                // +session_set key='sort_users_key' value='points' icon='coins'
                // +session_set key='sort_users_key' value='created_date' icon='clock'
                // +session_set key='view_limit' value=1
                +session_set key='view_limit' value=10
                +session_set key='view_limit' value=20

                
                |sort by
                .ui.compact.small.menu
                    .ui.simple.dropdown.item
                        strong #{current_dish_sort_label}
                        i.dropdown.icon
                        .menu
                          +set_dish_sort_key key='price_per_serving' label='$/serving' icon='money'
                          +set_dish_sort_key key='datetime_available' label='available' icon='clock'
                          //- +set_dish_sort_key key='_timestamp' label='added' icon='clock'
                          +set_dish_sort_key key='comment_count' label='comment count' icon='chat'
                .ui.compact.icon.button.set_sort_direction(title='toggle sort direction')
                    if sorting_up
                        i.sort.amount.down.icon
                    else
                        i.sort.amount.up.icon
                |&nbsp;
                |&nbsp;
                // .ui.compact.menu
                //     .ui.simple.dropdown.item
                //         strong #{dish_limit}
                //         i.dropdown.icon
                //         .menu
                        //   +set_dish_limit amount=1
                           +set_dish_limit amount=5
                           +set_dish_limit amount=10
                            +set_dish_limit amount=20
                .spacer 
        .twelve.wide.column
            if subs_ready
                if one_post
                    .ui.stackable.centered.one.column.grid
                        each dish_docs
                            +dish_card
                else if two_posts
                    .ui.stackable.centered.two.column.grid
                        each dish_docs
                            +dish_card
                else if three_posts
                    .ui.stackable.centered.three.column.grid
                        each dish_docs
                            +dish_card
                else
                    .ui.stackable.centered.five.column.grid
                        each dish_docs
                            +dish_card
            else 
                i.massive.loading.circular.food.grey.icon





        
template(name='set_dish_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        

template(name='set_view_mode_dish')
    .item.set_view
        i.icon(class=icon)
        |#{title}


template(name='set_dish_limit')
    .item.set_limit #{amount}



template(name='dish_card')
    .center.aligned.column.zoomer(class=dish_card_class)
        a.image.zoomer(href="/dish/#{_id}") 
            img.ui.zoom.pointer.goto_dish.centered.image.rounded(src="{{c.url image_id width=400 height=300 crop='pad'}}")
        .content
            a.ui.inline.header(href="/dish/#{_id}") 
                //- |#{_author.name}'s
                | #{title}
            //- if session_is 'view_ingredients' true
            // +ismall name='ingredients'
            each ingredients
                .ui.small.basic.label #{this}
        if gluten_free
            +i name='no-gluten' cl='ui mini inline image' title='gluten free'
        if vegan
            +i name='vegan-symbol' cl='ui mini inline image' title='vegan'
        //- .ui.inline.small.header tags
        // .content
        //     .right.floated.meta
        //         | {{from_now datetime_available}}
        //     //- if session_is 'view_users' true
        // //- a.image(href="/dish/#{_id}")
            
        .content    
            .ui.inline.header 
                |${{fixed price_usd}}
            .ui.inline.small.header 
                |(#{menu_section}) 
            div
            if delivery
                +i name='deliver-dish' cl='ui avatar image'
                if delivery_fee
                    .ui.inline.header(title='delivery fee') $#{delivery_fee}
            //- if open
            //-     +i name='checkmark' cl='ui avatar image'
            //- else 
            //-     i.ban.icon(title='not open to new orders')
            if pickup
                +i name='doormat' cl='ui avatar image'
