template(name='carts')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header
                i.cart.icon
                |#{cart_total}
                |carts
            .ui.circular.icon.button.add_cart
                i.large.plus.icon
        .twelve.wide.column
            unless subs_ready
                i.big.loading.refresh.icon
            .scrolling
                if carts.count
                    .ui.four.doubling.cards
                        each carts
                            +cart_card
                else 
                    .ui.center.aligned.basic.segment 
                        i.money.big.grey.loading.icon
                                
                     
                                
template(name='cart_card')
    a.card(href="/cart/#{_id}")
        .content
            .ui.header #{title} #{when}

template(name='cart_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    if in_dev 
                        a.ui.icon.circular.button(href="/cart/#{_id}/edit")
                            i.pencil.large.icon
                        +print_this
                .eight.wide.column
                    .ui.basic.segment
                        h1.ui.header #{product_title} 
                
                
template(name='cart_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        small editing cart
                        strong #{title}
                    a.ui.big.icon.green.button(href="/#{model}/#{_id}" title='save')
                        i.checkmark.big.icon
                    +remove_button