template(name='ingredients')
    .ui.stackable.padded.grid
        .ui.sixteen.wide.column
            .ui.inline.header
                +ibig name='ingredients'
                |ingredients
            i.plus.link.icon.add_ingredient
        .ui.sixteen.wide.column
            .ui.stackable.centered.cards
                each model_docs_helper 'ingredient'
                    .ui.card
                        if image_id
                            a(href="/ingredient/#{_id}/view")
                                img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                        .content
                            a.ui.header(href="/ingredient/#{_id}/view") #{title}
                            div created {{from_now _timestamp}} by #{_author_username}
                            each tags
                                .ui.basic.label #{this}
                            //- .ui.large.basic.label 
                            //-     |#{points} points
                        .content
                            +voting

            
            
template(name='ingredient_card')
    .ui.card
        if image_id
            a(href="/ingredient/#{_id}/view")
                img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/ingredient/#{_id}/view") #{title}
            div created {{from_now _timestamp}} by #{_author_username}
            each tags
                .ui.basic.label #{this}
            //- .ui.large.basic.label 
            //-     |#{points} points
        .content
            +voting

            
            
            
            

template(name='ingredient_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    a.ui.basic.compact.button(href="/ingredients")
                        i.left.chevron.icon
                        +icolor name='ingredients' classes='ui inline mini image'
                        |ingredients
                .eight.wide.center.aligned.column
                    .ui.center.aligned.header #{title}
                .four.wide.center.aligned.column
                    a.ui.basic.button(href="/ingredient/#{_id}/edit")
                        i.blue.pencil.icon
                        |edit        
            .five.wide.column
                +image_view key='image_id' direct=true
                +array_view key='tags' direct=true
            .six.wide.column
                .ui.header
                    +icolor name='meal'
                    | meals included in
                each meal_inclusions
                    a.ui.small.header(href="/meal/#{_id}/view")
                        img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                        |#{title}
                .ui.header 
                    +icolor name='real-food-for-meals'
                    |productes included in
                .ui.large.selection.animated.list
                    each ingredient_productes
                        a.item(href="/product/#{_id}/view")
                            img.ui.mini.inline.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                            .content
                                .header
                                    |#{title}
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +textarea_view key='description' direct=true
                +comments
            .five.wide.column
                with current_doc
                    +voting_full
                    .ui.header similar ingredients
                    .ui.header alerts
                    |alergen alert
                    |#{alergen_alert}



template(name='ingredient_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                .six.wide.column
                    .ui.header edit '#{title}' ingredient
                    a.ui.large.green.button(href="/ingredient/#{_id}/view")
                        i.checkmark.icon
                        |save        
                    .ui.header #{title}
                    +text_edit key='title' direct=true
                    +array_edit key='tags' direct=true
                    +image_edit key='image_id' direct=true
                .six.wide.column
                    img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                    +html_edit key='description' direct=true