template(name='labels')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .sixteen.wide.column
                    .ui.inline.header 
                        +i name='tags'
                        |#{label_docs.count}
                        |labels
                    // .ui.small.inline.header 
                    //     |#{label_total}
                    if in_dev 
                        .ui.icon.button.clear_labels 
                            i.remove.icon
                    .ui.inline.header 
                        +i name='paint-brush'
                        // |color
                    // +cfacet model='_week_number'
                    each color_results
                        .ui.big.compact.button.pick_color(style="background-color:##{name}")
                            // |#{name}
                            |#{count}
                    +i name='vegan-symbol'
                    // .ui.inline.header 
                        // |vegan
                    // +cfacet model='_week_number'
                    each vegan_results
                        .ui.button.pick_vegan
                            |#{name}
                            small #{count}
                    +i name='no-gluten'
                    // .ui.inline.header 
                        // |gluten free
                    // +cfacet model='_week_number'
                    each gluten_results
                        .ui.button.pick_gluten
                            |#{name}
                            small #{count}
                    .ui.small.inline.header
                        i.download.icon
                        |'Info for Labels'
                    .ui.input.import
                        input(type='file' accept='.csv')
                    // +cfacet model='_product'
                    .ui.icon.input(title='search product')
                        if current_search
                            i.remove.red.link.icon.zoomer.clear_search
                        else
                            i.search.icon
                        input.search_product(type='text' placeholder='product' value=current_search)
                    // .scrolling
                    .ui.doubling.centered.five.cards
                        if label_docs.count
                            each label_docs
                                +label_card
                        else 
                            .ui.center.aligned.basic.segment 
                                .ui.hidden.divider
                                .ui.hidden.divider
                                .ui.hidden.divider
                                .ui.hidden.divider
                                i.tags.massive.loading.red.icon
                                
                            
template(name='label_card')
    .card(style="background-color:##{color}")
        .content
            .ui.header #{name}
            if local
                +i name='marker' cl='pointer zoomer' title='local'
            if gf
                +i name='no-gluten' cl='pointer zoomer' title='gluten free'
            if vegan
                +i name='vegan-symbol' cl='pointer zoomer' title='vegan'
            if origin
                .ui.inline.header
                    +i name='marker' cl='pointer zoomer' title='local'
                    // i.red.marker.icon
                    |#{origin}
            if retail_price
                .ui.inline.header
                    |$#{retail_price}
            if description
                i.about.icon
                |#{description}
            if url
                a(href=url target='_blank' title=url)
                    // |#{url}
                    i.large.external.link.icon.zoomer.pointer
                    
            // .ui.list 
            //     .item 
            //         if cogs
            //             |cogs: #{cogs}
            //     // .item 
            //     //     if gf
            //     //         |gf: #{gf}
            //     .item 
            //         if goes_well_with
            //             |goes_well_with: #{goes_well_with}
            //     .item 
            //         if ingredients
            //             +i name='ingredients'
            //             |#{ingredients}
            //     .item 
            //         if net_weight_
            //             |net_weight_: #{net_weight_}
            //     .item 
            //         if net_weight_
            //             |net_weight_: #{net_weight_}
            //     .item 
            //         if nude_made
            //             |nude_made: #{nude_made}
            //     .item 
            //         if packaging
            //             |packaging: #{packaging}
            //     .item 
            //         if price
            //             .ui.inline.header$#{price}
            //     .item 
            //         if rescued
            //             |rescued: #{rescued}
            //     .item 
            //         if shelf_life
            //             |shelf_life: #{shelf_life}
            //     .item 
            //         if size_
            //             |size_: #{size_}
            //     .item 
            //         if we_love_it_in
            //             |we_love_it_in: #{we_love_it_in}
            //     .item 
            //         if wholefoods_retail_price
            //             |wholefoods_retail_price: #{wholefoods_retail_price}
            //     .item 
            //         if wholesale_price
            //             |wholesale_price: #{wholesale_price}
            +print_this
            i.refresh.icon.link.calc.pointer.zoomer


// template(name='cfacet')
//     .ui.inline.header #{model}
//     each picked
//         +unpick
//     each unpicked 
//         +pick
        
        
// template(name='unpick')        
//     .ui.blue.button.unpick
//         |#{this}

// template(name='pick')     
//     if name
//         .ui.compact.circular.large.button.pick
//             |#{name}
//             small #{count}x
//             |(=#{total})
            
