template(name='labels')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column
                    .ui.inline.header 
                        +i name='tags'
                        |label
                    .ui.small.inline.header 
                        |#{label_total} results
                    div
                    if in_dev 
                        .ui.icon.button.clear_labels 
                            i.remove.icon
                    .ui.inline.header 
                        i.hashtag.icon
                        |week
                    // +cfacet model='_week_number'
                    each week_results
                        .ui.button.pick_week
                            |#{name}
                            small #{count}
                    div
                    .ui.inline.header
                        i.calendar.icon
                        |month
                    each month_results
                        .ui.button.pick_month
                            |#{name}
                            small #{count}
                    .ui.inline.small.header
                        i.download.icon
                        |import
                    .ui.fluid.input.import
                        input(type='file' accept='.csv')
                .twelve.wide.column
                    // +cfacet model='_product'
                    .ui.icon.input(title='search product')
                        if current_search
                            i.remove.red.link.icon.zoomer.clear_search
                        else
                            i.search.icon
                        input.search_product(type='text' placeholder='product' value=current_search)
                    .scrolling
                        .ui.four.doubling.cards
                            if label_docs.count
                                each label_docs
                                    +label_card
                            else 
                                .ui.center.aligned.basic.segment 
                                    i.money.big.loading.icon
                                
                            
template(name='label_card')
    .card
        .content
            .ui.list 
                .item cogs: #{cogs}
                .item color: #{color}
                .item description: #{description}
                .item gf: #{gf}
                .item goes_well_with: #{goes_well_with}
                .item ingredients: #{ingredients}
                .item local: #{local}
                .item model: #{model}
                .item name: #{name}
                .item net_weight_: #{net_weight_}
                .item net_weight_: #{net_weight_}
                .item nude_made: #{nude_made}
                .item origin: #{origin}
                .item packaging: #{packaging}
                .item price: #{price}
                .item rescued: #{rescued}
                .item retail_price: #{retail_price}
                .item shelf_life: #{shelf_life}
                .item size_: #{size_}
                .item url: #{url}
                .item vegan: #{vegan}
                .item we_love_it_in: #{we_love_it_in}
                .item wholefoods_retail_price: #{wholefoods_retail_price}
                .item wholesale_price: #{wholesale_price}
            +print_this
            .ui.icon.button.calc
                i.refresh.icon


// template(name='cfacet')
//     .ui.inline.header #{model}
//     each picked
//         +unpick
//     each unpicked 
//         +pick
        
        
// template(name='unpick')        
//     .ui.blue.button.unpick
//         |#{this}

// template(name='pick')     
//     if name
//         .ui.compact.circular.large.button.pick
//             |#{name}
//             small #{count}x
//             |(=#{total})
            
