template(name='members')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header
                i.member.icon
                |#{member_total}
                |members
            .ui.circular.icon.button.add_member
                i.large.plus.icon
        .twelve.wide.column
            unless subs_ready
                i.big.loading.refresh.icon
            .scrolling
                if members.count
                    .ui.four.doubling.cards
                        each members
                            +member_card
                else 
                    .ui.center.aligned.basic.segment 
                        i.money.big.grey.loading.icon
                                
                     
                                
template(name='member_card')
    a.card(href="/member/#{_id}")
        .content
            .ui.header #{title} #{first_name} #{last_name}

template(name='member_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    if in_dev 
                        a.ui.icon.circular.button(href="/member/#{_id}/edit")
                            i.pencil.large.icon
                    .ui.header 
                        small editing member
                        strong #{first_name} #{last_name}
                    +text_view key='first_name'
                    +text_view key='last_name'
                    +image_view key='image_id' label='image'
                    +array_view key='tags' label='tags' icon='tags'
                .twelve.wide.column.scrolling
                    +text_view key='title'
                    +html_view key='body' label='body' icon='content'
                    .ui.header orders
                    .ui.header subscriptions
                    .ui.header mealplans
                    .ui.header recipes
                
template(name='member_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        small editing member
                        strong #{title}
                    a.ui.big.icon.green.button(href="/#{model}/#{_id}" title='save')
                        i.checkmark.big.icon
                    +remove_button
                    +image_edit key='image_id' label='image'
                    +array_edit key='tags' label='tags' icon='tags'
                .seven.wide.column.scrolling
                    +text_edit key='first_name'
                    +text_edit key='last_name'
                    +text_edit key='title'
                    +html_edit key='body' label='body' icon='content'