template(name='mishi')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header
                i.tablet.icon
                |#{mishi_total}
                |mishi orders
            if in_dev
                .ui.icon.input(title='search product')
                    if current_search
                        i.remove.red.link.icon.zoomer.clear_search
                    else
                        i.search.icon
                    input.search_product(type='text' placeholder='product' value=current_search)
            div
            .ui.inline.grey.header
                i.calendar.icon
                |month
            each month_results
                .ui.compact.small.button.pick_month(class=month_class)
                    strong #{count}o
                    |#{name}
            div
            .ui.inline.grey.header 
                i.calendar.icon
                |week #/52
            // +cfacet model='_week_number'
            each weeknum_results
                .ui.compact.small.button.pick_weeknum(class=weeknum_class)
                    strong #{count}o
                    |#{name}
            // div
            div
            .ui.inline.grey.header 
                i.sun.icon
                |weekday
            // +cfacet model='_week_number'
            each weekday_results
                .ui.compact.small.button.pick_weekday(class=weekday_class)
                    strong #{count}o
                    |#{name}
            // div
            if in_dev
                .ui.segment
                    .ui.inline.small.header
                        i.download.icon
                        // |import
                    .ui.fluid.input.import
                        input(type='file' accept='.csv')
        .twelve.wide.column
            i.sort.icon
            +set_sort_key key='orders' label='orders' icon='shopping cart'
            +set_sort_key key='units' label='units' icon='hashtag'
            +set_sort_key key='profit' label='profit' icon='line chart'
            +set_sort_key key='revenue' label='revenue' icon='line chart'
            +set_sort_key key='shrink' label='shrink' icon='line chart'
            .ui.compact.icon.button.set_sort_direction(title='toggle sort direction')
                if sorting_up
                    i.sort.amount.down.icon
                else
                    i.sort.amount.up.icon
            |&nbsp;
            |&nbsp;
            +set_limit amount=10
            +set_limit amount=100
            div
            unless subs_ready
                i.big.loading.grey.yin.yang.icon
            +cfacet model='_product'
            .scrolling
                if mishi_orders.count
                    .ui.four.doubling.cards
                        each mishi_orders
                            +mishi_order_card
                else 
                    .ui.center.aligned.basic.segment 
                        i.money.big.grey.loading.icon
                                
                            
template(name='mishi_order_card')
    .card
        with related_product
            img.ui.inline.image.goto_product.zoomer.pointer(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
        .content
            // .item Store_ID: #{Store_ID}
            // .item Charge_ID: #{Charge_ID}
            // .item Order_ID: #{Order_ID}
            // .item Ean_Code: #{Ean_Code}
                .ui.inline.header 
                    |#{title}
            a.item.goto_product
                | #{related_product.title}
            // .item Retailer_Product_ID: #{Retailer_Product_ID}
            .ui.inline.header(title='original price') $#{Original_Price}
            a(href=Ean_Code target='_window')
                i.wikipedia.link.icon
            .ui.label(title='quantity') #{Qty} qty
            .ui.label Discounted_Line_Amount: #{Discounted_Line_Amount}
            if Promo_Code
                .ui.label Promo_Code: #{Promo_Code}
            .ui.label Vat_Rate: #{Vat_Rate}
            // .ui.label Txn_Timestamp: #{Txn_Timestamp}
            // .ui.label meta info
            .ui.label(title='_converted_date') {{medium_date _converted_date}}
            // .ui.label(title='month') #{_month}
            // .ui.label day: #{day}
            // .ui.label _weekdaynum: #{_weekdaynum}
            // .ui.label week #{_week_number}
            // .ui.label(title='_weekday') #{_weekday}
            if in_dev 
                +print_this
                .ui.icon.button.calc
                    i.refresh.icon


template(name='mishi_order_view')
    with current_doc
        .ui.container
            with related_product
                img.ui.inline.image.goto_product.zoomer.pointer(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
            .content
                // .item Store_ID: #{Store_ID}
                // .item Charge_ID: #{Charge_ID}
                // .item Order_ID: #{Order_ID}
                // .item Ean_Code: #{Ean_Code}
                    .ui.inline.header 
                        |#{title}
                a.item.goto_product
                    | #{related_product._product}
                // .item Retailer_Product_ID: #{Retailer_Product_ID}
                .ui.inline.header(title='original price') $#{Original_Price}
                a(href=Ean_Code target='_window')
                    i.wikipedia.link.icon
                .ui.label(title='quantity') #{Qty} qty
                .ui.label Discounted_Line_Amount: #{Discounted_Line_Amount}
                if Promo_Code
                    .ui.label Promo_Code: #{Promo_Code}
                .ui.label Vat_Rate: #{Vat_Rate}
                // .ui.label Txn_Timestamp: #{Txn_Timestamp}
                // .ui.label meta info
                .ui.label(title='_converted_date') #{_converted_date}
                // .ui.label(title='month') #{_month}
                // .ui.label day: #{day}
                // .ui.label _weekdaynum: #{_weekdaynum}
                // .ui.label week #{_week_number}
                .ui.label(title='_weekday') #{_weekday}
                if in_dev 
                    +print_this
                    .ui.icon.button.calc
                        i.refresh.icon

template(name='cfacet')
    +i name='shopping-cart'
    // .ui.inline.header #{model}
    each picked
        +unpick
    each unpicked 
        +pick
        
        
template(name='unpick')        
    .ui.icon.circular.button.unpick
        // |#{this}
        i.undo.large.blue.icon

template(name='pick')     
    if name
        // a.ui.image.large.label.zoomer.pick(style="background-color:#{pick_product.color}" title="orders and units)")
        a.ui.image.large.label.zoomer.pick(title="orders and units)" class=pick_product_class)
            if pick_product
                img.ui.avatar.image(src="{{c.url pick_product.image_id width=400 height=400 gravity='face' crop='fill'}}")
                strong #{pick_product.title}
            else 
                strong #{name}
            strong #{count}o #{total}u
