template(name='mishi')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .four.wide.column
                    .ui.header 
                        i.money.icon
                        |mishi
                    .ui.small.header 
                        |#{mishi_total} results
                    +cfacet model='_product'
                    +cfacet model='_week_number'
                    .ui.inline.small.header
                        i.download.icon
                        |import
                    .ui.fluid.input.import
                        input(type='file' accept='.csv')
                .twelve.wide.column
                    .ui.icon.input(title='search product')
                        if current_search
                            i.remove.red.link.icon.zoomer.clear_search
                        else
                            i.search.icon
                        input.search_product(type='text' placeholder='product' value=current_search)
                    .scrolling
                        .ui.cards
                            if mishi_orders.count
                                each mishi_orders
                                    +mishi_order
                            else 
                                .ui.center.aligned.basic.segment 
                                    i.money.big.loading.icon
                                
                            
template(name='mishi_order')
    .card
        .content
            .ui.list 
                // .item Store_ID: #{Store_ID}
                // .item Charge_ID: #{Charge_ID}
                // .item Order_ID: #{Order_ID}
                // .item Ean_Code: #{Ean_Code}
                with related_product
                    img.ui.tiny.inline.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                    .ui.inline.small.header 
                        |#{title}
                a.item.goto_product
                    | #{_product}
                // .item Retailer_Product_ID: #{Retailer_Product_ID}
                a(href=Ean_Code target='_window')
                    i.wikipedia.link.icon
                .item(title='original price') $#{Original_Price}
                .item Qty: #{Qty}
                .item Discounted_Line_Amount: #{Discounted_Line_Amount}
                if Promo_Code
                    .item Promo_Code: #{Promo_Code}
                .item Vat_Rate: #{Vat_Rate}
                // .item Txn_Timestamp: #{Txn_Timestamp}
                // .item meta info
                .item(title='_converted_date') #{_converted_date}
                .item(title='month') #{_month}
                // .item day: #{day}
                // .item _weekdaynum: #{_weekdaynum}
                .item _week_number: #{_week_number}
                .item(title='_weekday') #{_weekday}

            .ui.icon.button.calc
                i.refresh.icon


template(name='cfacet')
    .ui.inline.header #{model}
    each picked
        +unpick
    each unpicked 
        +pick
        
        
template(name='unpick')        
    .ui.blue.button.unpick
        |#{this}

template(name='pick')     
    if name
        .ui.compact.basic.circular.button.pick
            |#{name}
            small #{count}
