template(name='mishi')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .sixteen.wide.column
                    // +ibig name='money' cl='ui inline image'
                    // .ui.inline.header 
                    //     i.money.icon
                    //     // |mishi
                    .ui.small.inline.header 
                        |#{mishi_total} results
                    // div
                    .ui.inline.header 
                        // i.hashtag.icon
                        +i name='calendar'
                        |week
                    // +cfacet model='_week_number'
                    each week_results
                        .ui.button.pick_week
                            |#{name}
                            small #{count}
                    // div
                    .ui.inline.header
                        // i.calendar.icon
                        +i name='calendar'
                        |month
                    each month_results
                        .ui.button.pick_month
                            |#{name}
                            small #{count}
                    // if in_dev
                    //     // .ui.inline.small.header
                    //     //     i.download.icon
                    //     //     // |import
                    //     // .ui.input.import
                    //     //     input(type='file' accept='.csv')
                    +cfacet model='_product'
                    .ui.icon.input(title='search product')
                        if current_search
                            i.remove.red.link.icon.zoomer.clear_search
                        else
                            i.search.icon
                        input.search_product(type='text' placeholder='product' value=current_search)
                    .scrollin
                        .ui.five.doubling.cards
                            if mishi_orders.count
                                each mishi_orders
                                    +mishi_order
                            else 
                                .ui.center.aligned.basic.segment 
                                    i.money.big.loading.icon
                                
                            
template(name='mishi_order')
    .card
        .content
            .ui.list 
                // .item Store_ID: #{Store_ID}
                // .item Charge_ID: #{Charge_ID}
                // .item Order_ID: #{Order_ID}
                // .item Ean_Code: #{Ean_Code}
                with related_product
                    img.ui.tiny.inline.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                    .ui.inline.small.header 
                        |#{title}
                a.item.goto_product
                    | #{_product}
                // .item Retailer_Product_ID: #{Retailer_Product_ID}
                a(href=Ean_Code target='_window')
                    i.wikipedia.link.icon
                .item(title='original price') $#{Original_Price}
                .item(title='quantity') ##{Qty}
                .item Discounted_Line_Amount: #{Discounted_Line_Amount}
                if Promo_Code
                    .item Promo_Code: #{Promo_Code}
                .item Vat_Rate: #{Vat_Rate}
                // .item Txn_Timestamp: #{Txn_Timestamp}
                // .item meta info
                .item(title='_converted_date') #{_converted_date}
                .item(title='month') #{_month}
                // .item day: #{day}
                // .item _weekdaynum: #{_weekdaynum}
                .item week #{_week_number}
                .item(title='_weekday') #{_weekday}
            +print_this
            .ui.icon.button.calc
                i.refresh.icon


template(name='cfacet')
    +i name='shopping-cart'
    // .ui.inline.header #{model}
    each picked
        +unpick
    each unpicked 
        +pick
        
        
template(name='unpick')        
    .ui.blue.big.button.unpick
        |#{this}

template(name='pick')     
    if name
        .ui.compact.circular.massive.button.pick
            |#{name}
            i.grey.cart.icon
            small #{count}
            i.hashtag.grey.icon
            |(=#{total})
            
