template(name='product_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        +topbar
        +cartbar
        +left_sidebar
        +right_sidebar
        +walletbar
        #main_area.global_container.pusher.scrollin
            with current_doc
                .ui.stackable.padded.grid
                    .row
                        .six.wide.column
                            a.ui.basic.icon.button(href="/shop")
                                i.chevron.left.large.icon
                                // i.large.food.icon
                                +i name='food-cart' cl='ui mini inline image'
                        
                            .ui.large.inline.header 
                                //- small viewing
                                | #{title}
                                //- small product
                            if can_edit
                                a(href="/product/#{_id}/edit")
                                    i.pencil.blue.large.link.icon
                            // a(href="{{c.url image_id}}" target="_window")
                            img.ui.rounded.fluid.image.zoomer(src="{{c.url image_id}}")
                            div 
                            +text_view key='size_description' label='size description'  direct=true
                            +link_view key='product_link' label='link' icon='wordpress' direct=true
                            +boolean_view key='gluten_free' label='gluten free' direct=true icon='no-gluten'
                            +boolean_view key='vegetarian' label='vegetarian' direct=true icon='vegetarian-mark'
                            +boolean_view key='no_sugar_added' label='no sugar added' direct=true icon='no-sugar2'
                            +boolean_view key='vegan' label='vegan' direct=true icon='vegan-symbol'
                            +boolean_view key='paleo' label='paleo' direct=true icon='caveman'
                            +boolean_view key='local' label='local' direct=true icon='marker'
                            +boolean_view key='nut_free' label='nut free' direct=true icon='no-peanut'
                            +boolean_view key='rescued' label='rescued' direct=true icon='nothing-found'
                            +boolean_view key='organic' label='organic' direct=true icon='organic-food'
                            +boolean_view key='no_gmo' label='no gmo' direct=true icon='no-gmo'
                            +boolean_view key='jar' label='jar container (requires deposit & return)' direct=true icon='mason-jar'
                            .ui.link.card.zoomer.goto_source
                                img.ui.fluid.image(src="{{c.url product_source.image_id width=200 height=200 gravity='face' crop='fill'}}")
                                .content
                                    .ui.header.zoomer
                                        |#{product_source.title}
                            // .ui.header #{menu_section}
                                    +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true

                        .ten.wide.column
                            .ui.green.basic.inverted.large.button.add_to_cart
                                // i.cart.plus.large.icon
                                
                                +i name='add-shopping-cart--v1' cl='ui avatar image'
                                |add to cart

                            a.ui.basic.compact.button(href="/product/#{_id}/" class="{{isActiveRoute 'product_main'}}")
                                +i name='content' cl='ui avatar image'
                                |description
                            a.ui.basic.compact.button(href="/product/#{_id}/subscriptions" class="{{isActiveRoute 'product_subscriptions'}}") 
                                +i name='clock' cl='ui avatar image'
                                |subscriptions
                            a.ui.basic.compact.button(href="/product/#{_id}/orders" class="{{isActiveRoute 'product_orders'}}")
                                +i name='list' cl='ui avatar image'
                                |orders
                            a.ui.basic.compact.button(href="/product/#{_id}/recipes" class="{{isActiveRoute 'product_recipes'}}") 
                                +i name='cookbook' cl='ui avatar image'
                                |recipes
                            a.ui.basic.compact.button(href="/product/#{_id}/reviews" class="{{isActiveRoute 'product_reviews'}}") 
                                +i name='popular-topic' cl='ui avatar image'
                                |reviews
                            // a.ui.basic.compact.button(href="/product/#{_id}/comments" class="{{isActiveRoute 'product_comments'}}") 
                            //     +i name='chat' cl='ui avatar image'
                            //     |comments
                            a.ui.basic.compact.button(href="/product/#{_id}/inventory" class="{{isActiveRoute 'product_inventory'}}") 
                                +i name='shield' cl='ui avatar image'
                                |inventory
                            div
                            +yield
                            
template(name='product_main')                            
    +html_view key='description' direct=true
    .ui.inline.header 
        +i name='ingredients'
        |ingredients
    each ingredients
        .ui.large.basic.label #{this}
    div
    +voting_full
    +link_view key='amazon_referral_link' label='amazon link' icon='amazon' direct=true
    +link_view key='external_link' label='external link' icon='globe' direct=true
    +comments
        
        
template(name='product_inventory')      
    .ui.inline.header 
        +i name='shield'
        |inventory
    if is_admin
        a.ui.icon.basic.button.add_inventory
            i.plus.icon
    .ui.list
        each inventory_items
            .item 
                unless editing_this
                    .ui.inline.header id: #{id}
                    .ui.inline.header location: #{location}
                    i.edit.link.icon.edit_inventory_item
                if editing_this
                    +number_edit key='id' label='id number' direct=true
                    +text_edit key='location' label='location' icon='marker' direct=true
                    i.checkmark.green.link.icon.save_inventory_item



template(name='product_reviews')
    .ui.inline.header 
        +i name='popular-topic'
        |reviews
    .ui.circular.basic.icon.button.add_review
        i.plus.icon
    div
    each product_recipes
        a.ui.header(href="/recipe/#{_id}/view") #{title}
        
        
        
    
    
template(name='product_subscriptions')     
    div
    if subscribed
        .ui.basic.green.inverted.button.unsubscribe
            i.undo.icon
            |unsubscribe
    else
        .ui.basic.green.inverted.button.subscribe
            i.undo.icon
            |subscribe
    .ui.small.header 
        +i name='clock'
        |subs
    .ui.link.selection.animated.list
        each product_subs
            a.item(href="/sub/#{_id}") 
                |#{when} #{_author_username}
                .ui.basic.label #{sub_day}
                .ui.basic.label #{sub_frequency}
    .ui.small.header 
        |your subscriptions


template(name='product_orders')                            
    if can_order
        +order_button
    each subs
        .ui.header #{_author_username}
    .ui.header 
        +i name='order-history'
        |#{product_orders.count}
        |orders
        |(${{fixed product_order_total}})
    .ui.basic.segments
        each product_orders
            +product_order_card
    .ui.header #{views} views
    +order_status_icons
    .ui.hidden.divider
                
template(name='order_status_icons')  
    a.zoomer(href="/order/#{_id}")
        if runner_viewed
            +icolor name='eye-checked' cl='ui avatar image'
        if preparing
            +icolor name='new-product--v1' cl='ui avatar image'
        if prepared
            +icolor name='handle-with-care' cl='ui inline image'
        if arrived
            +icolor name='checked-truck' cl='ui inline image'
        if delivered
            +icolor name='checkmark' cl='ui inline image'
        
        if delivery_photo
            +image_view key='delivery_photo' direct=true cl='ui tiny inline image'


         
         
         
template(name='product_order_card')
    .ui.segment(class=product_order_class)
        .ui.inline.green.header
            |${{fixed order_price}} 
            if _author.image_id
                img.ui.avatar.image(src="{{c.url _author.image_id width=100 height=100 gravity='face' crop='fill'}}")
            |#{_author.username}
        // div
        .ui.large.basic.label
            i.clock.icon
            |status: #{status}
        .ui.small.inline.header
            | #{when} ({{long_date _timestamp}})
        a.ui.compact.big.icon.button(href="/order/#{_id}")
            i.right.chevron.large.icon
        if is_author
            .ui.small.compact.basic.button.cancel_order(title='cancel')
                i.remove.red.icon
                |cancel



template(name='order_button')
    // if servings_left
    .ui.green.large.button.order_product
        i.cart.plus.large.icon
        strong ${{fixed price_usd}}
        // |order #{serving_unit}
        // small order for
        // strong #{price_franc}f
    // else 
    //     .ui.grey.header sold out
        //- .ui.teal.large.button.join_waitlist
        //-     i.clock.large.icon
        //-     |join wait list




template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small product
                    .ui.large.icon.green.button.save_product(title='save product')
                        i.checkmark.large.icon   
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +link_edit key='product_link' label='old site link' direct=true
                    div
                    +float_edit key='price_usd' label='$ price' direct=true
                .eight.wide.column
                    +boolean_edit key='gluten_free' label='gluten free' direct=true icon='no-gluten'
                    +boolean_edit key='paleo' label='paleo' direct=true icon='caveman'
                    +boolean_edit key='vegetarian' label='vegetarian' direct=true icon='vegetarian-mark'
                    +boolean_edit key='no_sugar_added' label='no sugar added' direct=true icon='no-sugar2'
                    +boolean_edit key='vegan' label='vegan' direct=true icon='vegan-symbol'
                    +boolean_edit key='no_gmo' label='no gmo' direct=true icon='no-gmo'
                    +boolean_edit key='local' label='local' direct=true icon='marker'
                    +boolean_edit key='nut_free' label='nut free' direct=true icon='no-peanut'
                    +boolean_edit key='rescued' label='rescued' direct=true icon='nothing-found'
                    +boolean_edit key='kosher' label='kosher' direct=true icon='kosher-food'
                    +boolean_edit key='organic' label='organic' direct=true icon='organic-food'
                    +boolean_edit key='jar' label='jar container (requires deposit & return)' direct=true icon='mason-jar'
                    +number_edit key='calories' label='calories' direct=true
                    div
                    +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    +link_edit key='external_link' label='external link' icon='globe' direct=true
                    +array_edit key='ingredients' label='ingredients' icon='ingredients' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +text_edit key='size_description' label='size description'  direct=true
                    +html_edit key='description' label='description' direct=true
                    +text_edit key='packaging' label='packaging' icon='package' direct=true
                    if can_delete
                        .ui.red.button.delete_product
                            i.remove.icon   
                            | delete
                .four.wide.column
                    .ui.header 
                        +i name='field-and-tractor'
                        |source
                    with product_source
                        a.ui.header(href="/source/#{_id}")
                            img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{title}
                        i.remove.link.circular.red.icon.remove_source
                        // if is_admin
                            
                    unless source_id
                        if is_admin
                            .ui.icon.input 
                                i.building.icon
                                input.source_search(type='text' placeholder='search source title')
                            each search_results
                                .ui.header.pick_source #{title}
                            
                            
                            
                            
                            


template(name='pick_section')
    .ui.big.image.label
        img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
        | #{title}