template(name='questions')
    .ui.stackable.padded.grid
        .four.wide.column.scrolling
            .ui.header
                i.question.icon
                |#{question_total}
                |questions
            .ui.circular.icon.button.add_question
                i.large.plus.icon
            a.ui.button(href="/newsletter")
                |newsletter
        .twelve.wide.column
            unless subs_ready
                i.big.loading.refresh.icon
            .scrolling
                if questions.count
                    .ui.four.doubling.cards
                        each questions
                            +question_card
                else 
                    .ui.center.aligned.basic.segment 
                        i.money.big.grey.loading.icon
                                
template(name='newsletter')
    .ui.centered.padded.grid
        .twelve.wide.center.aligned.column
            .ui.segment.f17
                .ui.center.aligned.big.header 
                    +i name='envelope'
                    |nudeletter signup
                .ui.small.header
                    +i name='user'
                    |name
                .ui.big.fluid.input
                    input.name_input(type='text')
                .ui.small.header
                    +i name='email'
                    |email
                .ui.big.fluid.input
                    input.email_input(type='email')
                .ui.hidden.divider
                .ui.big.fluid.green.circular.button.submit_form
                    i.big.checkmark.icon
                if in_dev 
                    .ui.list
                        each responses
                            .item
                                .header #{name}, #{email}
                         
                     
                                
template(name='question_card')
    a.card(href="/question/#{_id}")
        .content
            .ui.header #{title}

template(name='question_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    if in_dev 
                        a.ui.icon.circular.button(href="/question/#{_id}/edit")
                            i.pencil.large.icon
                        +print_this
                .eight.wide.column
                    .ui.basic.segment
                        h1.ui.header #{title} 
                        .ui.two.column.fluid.grid 
                            .column
                                .ui.fluid.green.inverted.icon.button.huge.pick_yes.zoomer.pointer
                                    // .ui.header.huge yes
                                    i.checkmark.big.icon
                            .column
                                .ui.fluid.red.inverted.icon.button.huge.pick_no.zoomer.pointer
                                    i.cancel.big.icon
                                    // .ui.header.huge no
                    .ui.divider
                    +newsletter
                
                
template(name='question_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.header 
                        small editing question
                        strong #{title}
                    a.ui.big.icon.green.button(href="/#{model}/#{_id}" title='save')
                        i.checkmark.big.icon
                    +remove_button
                    +image_edit key='image_id' label='image'
                    +array_edit key='tags' label='tags' icon='tags'
                .seven.wide.column.scrolling
                    +text_edit key='title'
                    +html_edit key='body' label='body' icon='content'