template(name='recipes')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                +i name='cookbook'
                |recipes
            .ui.basic.circular.icon.button.add_recipe
                i.large.plus.icon
        .twelve.wide.column
            .ui.stackable.cards
                each model_docs_helper 'recipe'
                    .ui.card
                        a(href="/recipe/#{_id}") 
                            img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                        a.content(href="/recipe/#{_id}") 
                            .ui.header 
                                |#{title}
                            |added #{when} by #{_author_username}
    
     
template(name='product_recipes')
    .ui.inline.header 
        +i name='cookbook'
        |recipes
    .ui.icon.basic.button.add_recipe
        i.plus.green.icon
    div
    each model_docs_helper 'recipe'
        a.ui.header(href="/recipe/#{_id}/view") #{title}
        
                
                
template(name='user_recipes')
    .ui.inline.header 
        +i name='cookbook'
        |user recipes
    .ui.basic.circular.icon.button.send_recipe
        i.large.plus.icon
    .ui.padded.stackable.two.column.grid
        .column
            .ui.header 
                +i name='sent--v2'
                |authored 
            .ui.stackable.cards.scrolling
                each sent_recipes 
                    .ui.card
                        .content
                            a(href="/recipe/#{_id}") 
                                img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
    
                            .ui.header 
                                |#{amount} #{recipient_username}
                            // |created #{when}
                            |sent {{from_now sent_timestamp}}
                            small {{cal_time sent_timestamp}}
                            a.ui.circular.icon.button(href='/recipe/#{_id}')
                                i.large.chevron.right.icon
                            
        .column
            .ui.header 
                +i name='gift--v1'
                |favorites
            .ui.stackable.cards.scrolling
                each favorited
                    .ui.card
                        .content
                            a(href="/recipe/#{_id}") 
                                img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                            .ui.header 
                                |#{amount} #{_author_username}
                            |received {{from_now sent_timestamp}}
                            small {{cal_time sent_timestamp}}
                            a.ui.circular.icon.button(href='/recipe/#{_id}')
                            i.ui.large.link.circular.chevron.right.icon.edit_address
                
                
                
template(name='recipe_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small recipe
                    a.ui.large.circular.icon.green.button(href="/recipe/#{_id}/" title='save product')
                        i.checkmark.big.icon
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div
                .ten.wide.column
                    div
                    +html_edit key='notes' label='description' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    .ui.red.button.delete_recipe
                        i.remove.icon   
                        | delete
                
                
template(name='recipe_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.circular.icon.button(href="/recipes")
                        i.food.big.icon
                    .ui.inline.header
                        | #{title}
                        small recipe view
                    +image_view key='image_id' label='image' direct=true
                    div
                .twelve.wide.column
                    div
                    +html_view key='notes' label='description' direct=true
                    .ui.button 
                        +i name='chef-cooking-skin-type-4'
                        |I've cooked this
                    each recipe_chefs
                        .ui.header #{username}
                    // +array_view key='tags' label='tags' icon='tags' direct=true
                    if can_delete
                        .ui.red.button.delete_recipe
                            i.remove.icon   
                            | delete
                    +comments                
