template(name='scanner')
    +dashboard
    .ui.stackable.padded.grid
        .ui.sixteen.wide.column(class=column_class)
            .ui.header scanner
            // if just_read
            //     .ui.massive.fluid.message 
                    
            #reader.invert(width="100%")
            // .ui.massive.green.button.start
            //     |open
            // .ui.big.basic.red.button.stop
            //     i.remove.icon
            //     |close
            // .ui.big.button.check
            //     |check camera
            // if is_adding 
            if selected_cart
                +product_picker
            .ui.divider
        .ui.eight.wide.column
            .ui.segment
                .ui.inline.header 
                    i.shopping.cart.icon
                    |active carts
                .ui.icon.button.new_cart 
                    i.plus.icon
                .ui.selection.list.smallscroll
                    each shopping_cart_docs
                        .item.select_cart(class=shopping_cart_button_class)
                            |#{name}
                div
                if selected_cart
                    a.ui.header(href="/cart/#{selected_cart}")
                        i.shopping.cart.icon
                        |#{cart_items.count} cart items
                    // .ui.icon.button.add_item(title='add item' class=add_item_class)
                    //     i.plus.icon
                    .ui.list 
                        each cart_items 
                            .item 
                                img.ui.avatar.image(src="{{c.url product_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                .content
                                    .header 
                                        |#{product_title}
                                    .description
                                        .ui.big.label(title='amount') #{amount}
                                        i.circular.remove.link.icon.remove_cart_item
                                        +print_this
                        if cart_items.count
                            .ui.fluid.green.button.checkout
                                i.checkmark.icon
                                |checkout
                else 
                    .ui.header select shopping cart above
            .ui.segment
                .ui.inline.header
                    |test codes
                .ui.button.clear_code
                    |clear
                .ui.selection.link.list 
                    each test_products
                        .item.gen_code
                            img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                            |#{title}
                #qrcode



template(name='product_picker')
    .ui.icon.fluid.large.input 
        i.search.icon
        input.search_product(type='text' placeholder='search product...')
    .ui.large.selection.link.list
        each product_results
            .ui.item.select_choice
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{title}
