template(name='home_slider')
    //- Slider HTML markup
    //- #slider(style='width:1200px;height:600px;margin:0 auto;margin-bottom: 170px;')
    #slider(style='width:1200px;height:400px;margin:0 auto;')
        each slides
            .ls-slide(data-ls='duration:7000; timeshift:300; kenburnsscale:1.5; parallaxdistance:10;')
                //- img.ls-tn(width='340' height='240' src='images/thumb1.png' alt='')
                p.ls-l(style='font-weight:100;font-family:Varela Round; font-size:200px; line-height:240px; color:rgba(100, 100, 100, 0.04); top:171px; left:277px;' data-ls='offsetxin:left; durationin:3000; delayin:1000; easingin:easeOutExpo; offsetxout:right; durationout:2000; startatout:transitioninend + 3; easingout:easeInExpo; parallaxlevel:1;') #{background_text}
                //- .ls-l(style='width:360px; height:360px; background:#fa8844; border-radius:50%; top:120px; left:659px;' data-ls='offsetxin:500; offsetyin:-20; easingin:easeOutBack; rotatein:30; transformoriginin:30px 360px 0; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:1;')
                img.ls-l(width='1200' height='637' src="{{c.url background_image width=1200 height=637 crop='fill'}}" alt='' style='opacity:0.5;top:0%;filter:grayscale(5%);left:0%;' data-ls='offsetxin:200; durationin:800; delayin:200; easingin:easeOutBack; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:0;')
                //- img.ls-l(width='444' height='374' src='images/shoe-shadow.png' alt='' style='opacity:0.6;top:131px; left:635px;' data-ls='offsetxin:500; offsetyin:-20; delayin:000; easingin:easeOutBack; rotatein:30; scalexin:1.2; scaleyin:1.2; transformoriginin:30px 360px 0; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:2;')
                //   title
                p.ls-l.wrap(style='max-width:400px;z-index:1000;font-weight:100;font-family:Varela Round; font-size:50px; color:#393939; top:50px; left:108px;' data-ls='offsetxin:500; easingin:easeOutBack; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:7;') !{title}
                //- p.ls-l(style='font-weight:100; letter-spacing:-0.1em;font-family:Varela Round; font-size:100px; line-height:150px; color:#fa8844; top:50%; left:107px;' data-ls='offsetxin:500; delayin:100; easingin:easeOutBack; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:2;') #{price}
                // subtitle
                // p.ls-l(style='z-index:1000;font-weight:100;font-family:Varela Round; font-size:25px; color:#7f7f7f; top:120px; left:111px;' data-ls='offsetxin:500; delayin:50; easingin:easeOutBack; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:5;') #{subtitle}
                p.ls-l(style='max-width:400px;z-index:1000;font-weight:100;font-family:Varela Round; font-size:25px; color:#black; top:120px; left:111px;' data-ls='offsetxin:500; delayin:50; easingin:easeOutBack; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:5;') #{subtitle}
                // img.ls-l.ui.rounded.image(src="{{c.url foreground_image width=400 crop='limit'}}" alt='' style='top:80px; left:80%;' data-ls='offsetxin:500; offsetyin:-20; delayin:250; easingin:easeOutBack; rotatein:30; transformoriginin:30px 360px 0; offsetxout:-300; durationout:500; easingout:easeInExpo; parallax:true; parallaxlevel:8;')
                //- img.ls-l.ui.rounded.image(src="{{c.url foreground_image width=400 crop='limit'}}" alt='' style='top:80px; left:639px;' data-ls='offsetxin:500; offsetyin:-20; delayin:200; easingin:easeOutBack; rotatein:60; transformoriginin:30px 360px 0; offsetxout:-80; durationout:3000; startatout:transitioninend + 1; easingout:easeInExpo; parallaxlevel parallax:true; parallaxlevel:4;')
                //- img.ls-l(width='429' height='392' src='images/shoe.png' alt='' style='top:104px; left:639px;' data-ls='offsetxin:500; offsetyin:-20; delayin:000; easingin:easeOutBack; rotatein:30; transformoriginin:30px 360px 0; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:2;')
                a.ls-l(style='' href=link target='_self' data-ls='offsetxin:500; delayin:400; easingin:easeOutBack; offsetxout:-80; durationout:400; hover:true; hoverdurationin:1000; hoveropacity:1; hoverbgcolor:#000000; parallax:true; parallaxlevel:3;')
                    // p.ls-button(style='font-family:Varela Round; font-size:36px; top:187px; left:118px; padding-top:12px; padding-bottom:12px; padding-right:25px; padding-left:25px; border-radius:10px; color:#ffffff; background:rgba(0, 0, 0, 0.71);') #{link_text}
