template(name='sources')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header 
                +i name='field-and-tractor'
                |Sources
            .ui.basic.icon.button.add_source
                i.large.plus.icon
        .sixteen.wide.column
            .ui.five.stackable.centered.cards
                each model_docs_helper 'source'
                    .ui.card.zoomer
                        a.fly_right(href="/source/#{_id}") 
                            img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                        a.content(href="/source/#{_id}") 
                            .ui.header 
                                |#{title}
                            each source_products
                                .ui.header #{title}
                            if location
                                i.marker.red.icon
                                |#{location}
                
                
template(name='source_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small source edit
                    a.ui.large.icon.green.button(href="/source/#{_id}" title='save product')
                        i.checkmark.big.icon
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true icon='image'
                    div
                    +link_edit key='link' label='link' direct=true icon='link'
                    div
                    +text_edit key='location' label='location' direct=true icon='marker'
                .ten.wide.column
                    div
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    +html_edit key='description' label='description' direct=true icon='content'
                    if can_edit
                        .ui.red.button.delete_source
                            i.remove.icon   
                            | delete
                
                
template(name='source_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column
                    // a.ui.basic.icon.button(href="/sources")
                    //     +i name='field-and-tractor'
                    +image_view key='image_id' label='image' direct=true
                    .ui.big.header
                        | #{title}
                    div
                    +html_view key='description' label='description' direct=true
                .eight.wide.column
                    +array_view key='tags' label='tags' direct=true
                    +link_view key='link' direct=true
                    .ui.header 
                        +i name='marker'
                        |#{location}
                    // .ui.header
                    //     +i name='love'
                    //     |fans
                    // div
                    .ui.inline.header 
                        +i name='grocery-shelf'
                        |products
                    .ui.two.stackable.cards
                        each source_products
                            a.ui.card(href="/product/#{_id}/") 
                                img.ui.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                .content
                                    |#{title} - 
                                    |$#{price_usd}
                    .ui.icon.small.compact.basic.button.add_source_product
                        i.plus.icon
                    if can_delete
                        .ui.red.button.delete_source
                            i.remove.icon   
                            | delete
                    // +comments                
                    if in_dev 
                        a.ui.icon.button(href="/source/#{_id}/edit")
                            i.pencil.icon
                    div
