template(name='transfers')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header 
                +i name='donate'
                |transfers
            .ui.basic.icon.button.add_transfer
                i.large.plus.icon
        .sixteen.wide.column
            .ui.five.stackable.centered.cards
                each model_docs_helper 'transfer'
                    .ui.card.zoomer
                        a.fly_right(href="/transfer/#{_id}") 
                            img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                        a.content(href="/transfer/#{_id}") 
                            .ui.header 
                                |#{title}
                            i.tag.icon
                            each tags 
                                .ui.label #{this}
                            if location_tags
                                i.marker.red.icon
                            each location_tags 
                                .ui.label #{this}
                            |#{when}
                
template(name='transfer_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        strong !{notes}
                        small transfer edit
                    a.ui.large.icon.green.button(href="/transfer/#{_id}" title='save draft')
                        i.checkmark.big.icon
                        |save draft
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true icon='image'
                    div
                    +array_edit key='location_tags' label='location tags' direct=true icon='marker'
                .ten.wide.column
                    div
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    +html_edit key='notes' label='notes' direct=true icon='content'
                    +user_picker
                    
                    if can_edit
                        .ui.red.button.delete_transfer
                            i.remove.icon   
                            | delete
                    unless complete
                        a.ui.big.green.button.complete_transfer(href="/transfer/#{_id}")
                            |complete transfer
                
                
template(name='user_picker')
    .ui.header 
        |user picker
    with picked_user
        .ui.header #{username}
        i.remove.link.icon.clear_target
    .ui.fluid.input
        input.search_user(type='text' placeholder='search...')
    each unpicked_users
        .ui.button.pick_user
            |#{username}
                
                
template(name='transfer_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column
                    // a.ui.basic.icon.button(href="/transfers")
                    //     +i name='field-and-tractor'
                    +image_view key='image_id' label='image' direct=true
                    .ui.big.header
                        | #{title}
                    div
                    +html_view key='notes' label='notes' direct=true
                .eight.wide.column
                    +array_view key='tags' label='tags' direct=true
                    +array_view key='location_tags' label='location tags' icon='marker' direct=true
                    div
                    .ui.header #{target_user_id}
                    +comments                
                    if can_edit
                        a.ui.icon.button(href="/transfer/#{_id}/edit")
                            i.pencil.icon
                    div
