template(name='shifts')
    .ui.stackable.padded.grid 
        .four.wide.column
            .ui.header 
                +i name='trust'
                |work
            if in_role 'staff'
                .ui.button.add_shift 
                    i.plus.icon
                    |shift
            unless accepted
                .ui.button.apply
                    |apply
        .twelve.wide.column
            .ui.header 
                |your shifts 
            .ui.header 
                |available shifts 
            .ui.header 
                |upcoming shifts
            .ui.selection.list
                each shift_docs 
                    a.item(href="/shift/#{_id}") {{med_date start_datetime}}
                    
                    
template(name='shift_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a(href="/shifts")
                        i.newspaper.link.big.icon
                    // div
                    // .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if can_edit
                        a.edit_shift(href="/shift/#{_id}/edit" title='edit')
                            i.big.link.pencil.icon

                    .ui.segment
                        .ui.header 
                            small author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.username}
                    .ui.small.grey.header 
                        i.line.chart.icon
                        |stats
                    .ui.header  
                        +i name='food-cart'
                        | products
                    div
                    .ui.inline.header  
                        +i name='cookbook'
                        | recipes
                    i.plus.link.icon.add_shift_recipe
                        
                    .ui.list
                        .item #{views} views
                    each viewers
                        .ui.label #{username
                    +array_view key='tags' label='tags' direct=true
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .twelve.wide.column.scrolling
                    .ui.header #{title}
                    img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    |!{content}
                    div 
                    .spacer
                    .spacer
                    +comments
                // .four.wide.column
                
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit
template(name='shift_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .twelve.wide.column
                    .ui.inline.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |edit shift
                    a.ui.icon.green.big.button(href="/shift/#{_id}/view" title='save')
                        i.checkmark.big.icon
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='content' label='content' direct=true
                .four.wide.column
                    i.large.link.red.remove.icon.delete_shift
                    .ui.header 
                        small author
                        |#{_author.username}
                    if is_admin
                        +single_user_edit key='_author_id' label='author' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    +boolean_edit key='published' icon='visible' direct=true
                    if is_admin 
                        +text_edit key='model' label='model' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                    // unless published
                    //     a.ui.fluid.green.button.submit(href="/save")
                    //         i.checkmark.icon
                    //         |publish
                    // else
                    //     .ui.basic.button.unpublish 
                    //         |unpublish
                    .ui.header
                        |audience                    