template(name='delta')
    .ui.stackable.padded.grid
        with current_model
            .row
                .five.wide.column
                    a.ui.basic.icon.button.go_home(href='/m/model' class="{{active_path '/m/model'}}" title='models')
                        i.large.home.icon
                    if is_loading
                        .ui.inline.header.pulsing
                            //- i.yin.yang.loading.large.icon
                            +i name=color_icon cl='pulsing'
                            |loading #{title}...
                    else
                        //- unless key_value_is current_delta.model_filter 'model'
                        //-     a.ui.icon.button.go_home
                        //-         i.left.chevron.icon
                        .ui.inline.header(title="#{description}, #{views} views")
                            +i name=color_icon
                            | #{title}
                    unless is_loading
                        if currentUser
                            .ui.icon.compact.basic.button.add_model_doc(title="add #{slug}")
                                i.plus.large.green.icon
                        //- +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' label="bookmark"
                        if is_admin
                            .ui.icon.basic.button.edit_model(title='configure model')
                                i.cog.icon
                        if current_delta
                            if is_admin
                                .ui.icon.basic.button.delete_delta(title='delete session document')
                                    i.remove.icon
                                .ui.icon.basic.button.print_delta(title='print delta')
                                    i.code.icon
                                i.refresh.link.reset.icon(title='reload session')
                            if is_dev
                                i.code.link.icon.print_delta(title='print session doc')
                                i.trash.delete_delta.link.icon(title='delete session')
                        else
                            .create_delta.ui.large.button(title='new session')
                                i.plus.icon
                                |session
                        //- if is_dev
                        //-     .ui.input
                        //-         input.import_subreddit(type='text' placeholder='import_subreddit')
                    //- // |did: #{session_delta_id}
                    //- span(title='views')
                    //-     i.grey.eye.icon
                    //-     |#{views}
                    div
                    each sorted_facets
                        +facet
                .eleven.wide.column
                    |&nbsp;
                    .ui.icon.input(class=query_class)
                        if current_delta.search_query
                            i.link.remove.icon.clear_query
                        else
                            i.search.icon
                        input#search(type='text' autocomplete="off" value=current_delta.search_query)
                    unless single_doc
                        //- .ui.basic.segment(class=loading_class)
                        //- .ui.inline.small.grey.header(title='change sort direction')
                        //-     |sort by
                        .ui.compact.small.menu(title='sort by')
                            .ui.simple.dropdown.item
                                strong #{current_delta.sort_key}
                                i.dropdown.icon
                                .menu
                                    each sortable_fields
                                        .item.set_sort_key 
                                            |#{title}
                        .ui.compact.icon.basic.button.set_sort_direction(title='sort direction')
                            if sorting_up
                                i.sort.amount.down.large.icon
                            else
                                i.sort.amount.up.large.icon
                        //- .ui.compact.button.set_sort_direction
                        //-     |#{current_delta.sort_direction}
                        |&nbsp;
                        |&nbsp;
                        //- .ui.inline.small.grey.header
                        //-     |viewing
                        //- .ui.compact.menu
                        //-     .ui.simple.dropdown.item(title='visible fields')
                        //-         | fields
                        //-         i.dropdown.icon
                        //-         .menu
                        //-             each model_fields
                        //-                 +toggle_visible_field
                        |&nbsp;
                        |&nbsp;
                        |&nbsp;
                                        
                        .ui.simple.dropdown(title='result limit')
                            .text.large #{current_delta.limit}
                            i.dropdown.icon
                            .menu
                                +set_limit amount=1
                                +set_limit amount=5
                                +set_limit amount=10
                                +set_limit amount=20
                                +set_limit amount=50
                        |&nbsp;
                        |&nbsp;
                        |&nbsp;
                        |of 
                        .ui.small.inline.header(title='total results') #{current_delta.total}
                        |&nbsp;
                        |&nbsp;
                        //- .ui.inline.small.grey.header view
                        .ui.compact.menu
                            .ui.simple.dropdown.item
                                |#{current_delta.view_mode}
                                i.dropdown.icon
                                .menu
                                    //- +set_view_mode title='table' icon='table'
                                    +set_view_mode title='list' icon='list'
                                    +set_view_mode title='cards' icon='cards'
                                    //- +set_view_mode title='items' icon='list'
                                    //- +set_view_mode title='map' icon='map'
                                    //- +set_view_mode title='graph' icon='graph'
                        //- .ui.basic.compact.small.icon.button.toggle_right_panel
                        //-     i.table.large.icon
                        .spacer
                    .scrolling    
                        if delta_key_value_is 'view_mode' 'cards'
                            .ui.cards
                                each current_delta.result_ids
                                    +delta_result_card
                        if delta_key_value_is 'view_mode' 'table'
                            table.ui.selectable.table 
                                thead
                                    tr
                                        each current_delta.viewing_fields
                                            th.pointer.toggle_sort_column(class=table_column_header_class)
                                                | #{title}
                                tbody
                                    each current_delta.result_ids
                                        +delta_result_table_row
                        else if delta_key_value_is 'view_mode' 'list'
                            each current_delta.result_ids
                                if is_loading
                                    .ui.segment
                                        .ui.fluid.placeholder
                                            .line
                                            .line
                                            .line
                                            .line
                                            .line
                                            .line
                                            .line
                                else 
                                    +delta_list_result
                    //- +Template.dynamic template=view_mode_template
            //- .row 
            //-     .sixteen.wide.column
            //-         if model_stats_exists
            //-             +Template.dynamic template=model_stats
            //-         .ui.header calculations
            //-         .ui.button rerun calculations
        unless current_model
            // if is_admin
            .twelve.wide.column.column
                .ui.big.button.create_model create model
            //- else 
                //- .ui.header model not found
            
            
template(name='toggle_visible_field')            
    .item.toggle_visibility
        if field_visible
            i.green.checkmark.icon
        | #{title}
    
template(name='delta_table')
    .ui.table
        thead
            each fields
                th #{title}
        tbody
            each current_delta.result_ids
                tr
                    each fields
                        td
                            |#{field_value}   
                            
                            
template(name='delta_list')
    each current_delta.result_ids
        //- .column
        +delta_list_result
                        
                    
                        
                
                
                
template(name='set_limit')
    .item.set_limit #{amount}

template(name='set_view_mode')
    .item.set_view_mode 
        |#{title}

template(name='facet')
    div
    if filtering_res
        //- .ui.hidden.divider
        //- .ui.fluid.rounded.accordion
            //- .active.title
        if icon
            +i name=icon cl='ui avatar image'
            //- i.grey.icon(class=icon)
        .ui.grey.inline.header 
            if title
                |#{title}
            else 
                |#{key}
                //- i.dropdown.icon
                //- .ui.icon.small.transparent.input
                //-     i.search.icon
                //-     input.add_filter(type='text')
            //- .active.content
                //- div
        each filtering_res
            if name
                .selector.ui.compact.button.toggle_selection(class=toggle_value_class title=count)
                    //- with ..
                    //- if parent_key_value_is 'field_type' 'color_icon'
                    //-     .ui.header icon
                    //- else 
                    strong #{name}
                    if is_admin
                        small #{cal_count} #{count}
            else
                .selector.ui.compact.basic.button.toggle_selection(class=toggle_value_class)
                    strong [null]
                    //- small #{cal_count}
        //- .ui.hidden.divider
        
        
template(name='toggle_delta_config')
    if boolean_true
        .ui.active.icon.button.disable_key(title=label)
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            // | #{label}
            
            
