template(name='model_edit_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid            
            .centered.row
                .four.wide.column
                    .ui.header
                        small editing model
                        strong #{title}
                    |created
                    +creation_info
                    a.ui.big.icon.basic.button(href="/m/#{slug}")
                        i.big.checkmark.green.icon
                    #delete_model.ui.icon.basic.button
                        i.trash.red.icon
                .twelve.wide.column
                    a.ui.basic.compact.large.button(href="/model/edit/#{current_doc._id}/" class="{{active_path regex='model_edit_dashboard'}}")
                        +i name='dashboard' cl='ui avatar image'
                        |dashboard
                    a.ui.basic.compact.large.button(href="/model/edit/#{current_doc._id}/fields" class="{{active_path regex='model_edit_fields'}}")
                        +i name='list' cl='ui avatar image'
                        |fields
                    a.ui.basic.compact.large.button(href="/model/edit/#{current_doc._id}/modules" class="{{active_path regex='model_edit_modules'}}")
                        +i name='module' cl='ui avatar image'
                        |modules
                    a.ui.basic.compact.large.button(href="/model/edit/#{current_doc._id}/permissions" class="{{active_path regex='model_edit_permissions'}}")
                        +i name='shield' cl='ui avatar image'
                        |permissions
                    +yield
                    
                    
                    
template(name='model_edit_dashboard')
    .ui.form
        +text_edit key='title' label='title' direct=true
        +slug_edit key='slug' label='slug' direct=true
        +color_icon_edit key='color_icon' label='icons8 icon' direct=true
        +textarea_edit key='description' label='description' direct=true
        +array_edit key='tags' label='tags' direct=true
        +text_edit key='collection' label='collection' direct=true
        +multi_doc_edit key='actions' label='actions' ref_model='action' direct=true
        +text_edit key='app' label='app' direct=true





template(name='model_edit_fields')
    //- |#{model}
    //- each fields
    //-     +Template.dynamic template=edit_template 
    //-     // .ui.header #{key} [#{field}] #{label}
    .spacer
    .ui.inline.header fields
    .ui.icon.large.basic.compact.button.add_field
        i.plus.green.icon
    .spacer
    .ui.segments
        each fields
            +field_edit
        
            
template(name='model_edit_modules')
    .ui.segment
        .ui.header
            +i name='module'
            |modules
        +boolean_edit key='show_comments' label='comments' color_icon='chat' direct=true
        +boolean_edit key='show_voting' label='voting' color_icon='elections' direct=true
    .spacer
    +comments


template(name='model_edit_permissions')
    .ui.header permissions
    +multi_doc_edit key='view_roles' label='view roles' ref_model='role' direct=true


template(name='field_edit')
    .ui.segment
        .title.section_edit.pointer
            |#{rank}
            if icon
                +i name=icon cl='ui mini inline image'
                //- i.icon(class=icon)
            strong #{title}
            | (#{field_type_slug})
            if faceted
                i.filter.icon
            if sortable
                i.sort.amount.down.icon
            each view_roles
                .ui.basic.label #{this}
            .ui.icon.compact.basic.button
                i.up.caret.icon
            .ui.icon.compact.basic.button
                i.down.caret.icon
            if viewing_content    
                i.large.caret.down.icon
            else 
                i.large.caret.right.grey.icon
        if viewing_content
            .content
                +text_edit key='title' direct=true label='title'        
                +text_edit key='key'  direct=true label='key'           
                +number_edit key='rank' label='rank' direct=true      
                +color_icon_edit key='icon' label='color icon' direct=true       
                //- +textarea_edit key='description' label='description' direct=true
                .spacer
                +text_edit key='field_type_slug' direct=true label='field type'              
                //- if is_admin
                //- +single_doc_edit key='field_type' ref_model='field_type' label='field type' direct=true        
                //- .spacer
                //- +text_edit key='field_type_id' label='field type id' direct=true        
                //- +single_doc_edit key='field_type_id' ref_model_slug='field_type' label='field type id' direct=true        
                //- .spacer
                //- +multi_doc_edit key='view_roles' ref_model_slug='role' label='view roles' direct=true icon='eye'          
                //- .spacer
                //- +multi_doc_edit key='edit_roles' ref_model_slug='role' label='edit roles' direct=true icon='pencil'        
                //- +text_edit key='ref_model' label='Reference Model' direct=true
                .spacer
                +boolean_edit key='faceted' label='faceted' color_icon='diamond' direct=true
                +boolean_edit key='sortable' label='sortable' color_icon='chevron-down' direct=true
                .spacer
                if is_ref  
                    +single_doc_edit key='ref_model' ref_model_slug='model' label='reference model' direct=true
                else if is_user_ref
                    +single_doc_edit key='role_filter' ref_model_slug='role' label='role filter' direct=true
                div             
                +remove_button
                if is_admin
                    +print_this
//- template(name='view_model')
        
template(name='field_view')
    +text_view key='title'                    
    +text_view key='key'                    
    +text_view key='field_type'                    
    +number_view key='rank' label='rank'                  
