template(name='model_doc_view')
    if template_exists
        +Template.dynamic template=model_template
    else
        with current_doc
            .ui.stackable.padded.grid
                .row
                    .four.wide.column
                        .ui.basic.button.back_to_model
                            i.chevron.left.icon
                            +i name=current_model.color_icon cl='ui inline mini image'
                            //- i.icon(class=current_model.icon)
                            |#{current_model.title}
                        if can_edit
                            a.ui.large.icon.basic.button(href="/m/#{current_model.slug}/#{_id}/edit" title='Edit')
                                i.pencil.blue.icon
                        if is_admin
                            .ui.header 
                                //- +i name='clock'
                                i.clock.icon
                                |timestamp tags
                            each _timestamp_tags
                                .ui.basic.inverted.label #{this}
                        +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark'
                        div
                        .ui.small.header #{views} views
                        .ui.small.inline.header by
                        each viewer_usernames
                            .ui.small.label #{this}
                        
                        .ui.small.header
                            |by
                            +author_info
                            +creation_info
                        //- +karma_transaction
                        //- +voting
                    .twelve.wide.column
                        .ui.header
                            each fields
                                if header
                                    +Template.dynamic template=view_template 
                            // if icon
                            //     i.icon(class=icon)
                            // |#{title}
                        each fields
                            unless header
                                .item
                                    +Template.dynamic template=view_template 
                        each current_model.actions
                            +Template.dynamic template=this data=current_doc
                        //- +comments
                        //- div
                        //- if watson
                        //-     +watson_view
