template(name='user_giftcards')
    .ui.inline.header 
        +i name='gift-card'
        |user gift cards
    .ui.basic.circular.icon.button.send_giftcard
        i.large.plus.icon
    .ui.padded.stackable.two.column.grid
        .column
            .ui.header sent 
            each sent_giftcards 
                .ui.header #{when} #{amount}
        .column
            .ui.header received
            each received_giftcards
                if is_editing_address
                    +text_edit key='street_address' label='street address' direct=true
                    +text_edit key='city' label='city' direct=true
                    +number_edit key='zip_code' label='zip code' direct=true
                    i.ui.big.link.green.circular.checkmark.icon.save_address
                    i.ui.link.red.circular.remove.icon.remove_address
                else 
                    .ui.header 
                        |#{street_address}
                    .ui.header #{city}, #{zip_code}
                    i.ui.large.link.circular.edit.icon.edit_address
                
                
                
template(name='giftcard_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small gift card
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div
                    +number_edit key='amount' label='$ amount' direct=true
                    +text_edit key='recipient_username' label='recipient username' direct=true
                    +single_user_edit key='recipient_id' label='recipient' direct=true
                .twelve.wide.column
                    div
                    +array_edit key='tags' label='tags' direct=true
                    +html_edit key='notes' label='description' direct=true
                    if can_delete
                        .ui.red.button.delete_giftcard
                            i.remove.icon   
                            | delete
                    if recipient_id
                        .ui.large.circular.icon.green.button.send_giftcard(title='save product')
                            i.sent.large.icon
                            |send giftcard
                    else
                        .ui.large.circular.icon.green.disabled.button.send_giftcard(title='save product')
                            i.sent.large.icon
                            |send giftcard
                
