template(name='user_layout')
    // img.ui.fluid.image.checkin_banner(src="{{c.url 'cafe'}}")
    +nav
    .ui.bottom.attached.pushable.segment
        +left_sidebar
        +right_sidebar
        #main_area.global_container.pusher.scrollin
            with user_from_username_param
                .ui.stackable.padded.grid
                    .row
                        //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                        .four.wide.column
                            a.item.mobile.hidden(href="/user/#{user_from_username_param.username}")
                                img.ui.fluid.image(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                            // .spacer
                            a(href="/user/#{username}")
                                .ui.center.aligned.header
                                    strong #{name}
                                    //- 
                                    //- strong #{user.first_name} #{user.last_name}
                                    //- small @#{user.username}        
                            a.ui.center.aligned.inline.header.mobile.hidden(href="/user/#{user_from_username_param.username}/credit" title='credit')
                                |{{fixed user.credit}}c
                            .ui.two.column.middle.aligned.grid.mobile.only
                                .column
                                    img.ui.small.inline.image.mobile.only(src="{{c.url image_id height=300 width=300 gravity='face' crop='fill'}}")
                                .column
                                    .ui.inline.header
                                        strong #{user.name}
                                        //- small @#{user.username}        
                                    a.ui.inline.header(href="/user/#{user_from_username_param.username}/credit" title='credit')
                                        //- +i name='coins'
                                        //- i.coins.icon
                                        |{{fixed user.credit}}c
                            .ui.vertical.fluid.compact.menu
                                a.item(href="/user/#{username}" class="{{isActiveRoute regex='user_dashboard'}}")
                                    // +i name='dashboard' cl='ui avatar image'
                                    i.dashboard.icon
                                    |dashboard
                                a.item(href="/user/#{username}/credit" class="{{isActiveRoute regex='user_credit'}}")
                                    // +i name='money' cl='ui avatar image'
                                    i.money.icon
                                    |credit
                                a.item(href="/user/#{username}/orders" class="{{isActiveRoute 'user_orders'}}")
                                    // +i name='check' cl='ui avatar image'
                                    i.list.icon
                                    |orders
                                a.item(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                                    // +i name='friends' cl='ui avatar image'
                                    i.users.icon
                                    |friends
                                a.item(href="/user/#{username}/cart" class="{{isActiveRoute 'user_cart'}}")
                                    // +i name='shopping-cart' cl='ui avatar image'
                                    i.cart.icon
                                    |cart
                                // a.item(href="/user/#{username}/downloads" class="{{isActiveRoute 'user_downloads'}}")
                                //     +i name='download' cl='ui avatar image'
                                //     i.download.icon
                                //     |downloads
                                a.item(href="/user/#{username}/subs" class="{{isActiveRoute 'user_subs'}}")
                                    // +i name='clock' cl='ui avatar image'
                                    i.clock.icon
                                    |subscriptions
                                a.item(href="/user/#{username}/addresses" class="{{isActiveRoute 'user_addresses'}}")
                                    // +i name='marker' cl='ui avatar image'
                                    i.marker.icon
                                    |addresses
                                a.item(href="/user/#{username}/giftcards" class="{{isActiveRoute 'user_giftcards'}}")
                                    // +i name='certificate' cl='ui avatar image'
                                    i.certificate.icon
                                    |gift cards
                            if is_current_user
                                a.ui.basic.compact.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                                    i.cog.icon
                                    |edit profile
                            else if is_admin
                                a.ui.basic.compact.button(href="/user/#{user_from_username_param.username}/edit" title='profile settings')
                                    +i name='settings' cl='ui avatar image'
                                    |edit profile
                            if is_current_user
                                .ui.basic.compact.button.logout
                                    i.sign.out.alternate.icon
                                    |log out
                                //- a.ui.basic.button.logout_other_clients(href="#" title='logout other clients')
                                //-     i.globe.icon
                                //-     |log out other clients
                        .twelve.wide.column
                                
                
                            div.global_container
                                .spacer
                                +yield



template(name='user_dashboard')
    .ui.header $ earned
    .ui.header $ spent
    .ui.header profit rate
    .ui.three.stackable.cards
        .ui.card
            .content
                .ui.header
                    +i name='check' cl='ui avatar image'
                    |orders
                .ui.list 
                    each user_orders
                        .item #{when}
        .ui.card
            .content
                a.header(href="/user/#{username}/friends")
                    +i name='groups' cl='ui avatar image'
                    |friends
                .ui.big.green.icon.button
                    i.checkmark.icon
        .ui.card
            .content
                a.header(href="/user/#{username}/mail")
                    +i name='envelope' cl='ui avatar image'
                    |mail
                .ui.big.green.icon.circular.button
                    i.plus.icon
        .ui.card
            .content
                a.header(href="/user/#{username}/subs")
                    +i name='clock' cl='ui avatar image'
                    |subs
                each user_subs
                    .ui.header #{when}
        .ui.card
            .content
                .ui.header
                    i.tasks.icon
                    |tasks
        .ui.card
            .content
                a.header(href="/user/#{username}/deliveries")
                    i.bicycle.icon
                    |deliveries
                    
                    
                    