// template(name='user_subs')
template(name='user_friends')
    .ui.header 
        // i.users.icon
        +i name='friends'
        |friends
    // .ui.input
    //     i.plus.icon
    //     input.search_friend(type='text' placeholder='add by username...')
    +multi_user_edit key='friend_ids' label='friends' direct=true
    each friend_search_results
        .ui.header #{username}
    each user_friends
        .item #{username}
        
template(name='user_deliveries')
    .ui.header 
        +i name='bicycle'
        |deliveries
    .ui.button.mark_available
        |available to deliver
    .ui.button.mark_unavailable
        |mark unavailable to deliver
    each user_deliveries
        .item #{when}
    +map
        
template(name='user_pantry')
    .ui.header 
        +i name='kitchen'
        |pantry
    .ui.button.add_pantry_item
        |add item
    each pantry_items
        a.item(href='') #{title} 
    .ui.header 
        |recommended recipes
    .ui.header 
        |missing items
        
        