template(name='user_addresses')
    .ui.inline.header 
        +i name='marker'
        |#{user_address_docs.count} #{user_from_username_param.username} addresses
    .ui.basic.icon.button.add_address
        i.large.plus.icon
    .ui.hidden.divider
    .ui.cards
        each user_address_docs
            .ui.card
                .content
                    if is_editing_address
                        +text_edit key='street_address' label='street address' direct=true
                        +text_edit key='city' label='city' direct=true
                        +number_edit key='zip_code' label='zip code' direct=true
                        i.ui.big.link.green.checkmark.icon.save_address
                        i.ui.link.red.remove.icon.remove_address
                    else 
                        .ui.header 
                            |#{street_address}
                        .ui.header #{city}, #{zip_code}
                        i.ui.large.link.edit.icon.edit_address
                        