template(name='user_giftcards')
    .ui.inline.header 
        i.marker.icon
        |user git cards
    .ui.basic.circular.icon.button.add_address
        i.large.plus.icon
    .ui.padded.stackable.two.column.grid
        .column
            .ui.header sent 
            each sent_giftcards
        .column
            .ui.header received
            each received_giftcards
                if is_editing_address
                    +text_edit key='street_address' label='street address' direct=true
                    +text_edit key='city' label='city' direct=true
                    +number_edit key='zip_code' label='zip code' direct=true
                    i.ui.big.link.green.circular.checkmark.icon.save_address
                    i.ui.link.red.circular.remove.icon.remove_address
                else 
                    .ui.header 
                        |#{street_address}
                    .ui.header #{city}, #{zip_code}
                    i.ui.large.link.circular.edit.icon.edit_address
                