template(name='cart')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header
                i.cart.icon
                |cart
            a.ui.fluid.circular.basic.icon.button(href="/shop")
                i.shop.large.icon
            .ui.header subtotal: $#{my_cart_subtotal}
            .ui.big.circular.fluid.green.button.checkout_cart
                i.large.send.icon
                |checkout
        .twelve.wide.column
            .ui.large.list.scrolling
                each cart_items
                    .item
                        // .image
                        img.ui.small.inline.rounded.image(src="{{c.url product.image_id width=400 height=300 crop='pad'}}")
                        .content
                            .ui.inline.header 
                                // |$#{
                                small $#{product.price_usd} x
                                    | #{amount}
                                |#{product.title}
                            div
                            small added #{when}
                            .ui.circular.basic.icon.button.decrease_amount
                                i.minus.icon
                            .ui.circular.basic.icon.button.increase_amount
                                i.plus.icon
                            .ui.circular.basic.icon.button.remove_item
                                i.remove.red.icon
                            if is_admin
                                +print_this
                
                
