template(name='cart')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.header
                i.cart.icon
                |cart
            a.ui.fluid.circular.basic.icon.button(href="/shop")
                i.shop.large.icon
        .twelve.wide.column
            .ui.large.list.scrolling
                each cart_items
                    .item
                        img.ui.small.inline.rounded.image(src="{{c.url product.image_id width=400 height=300 crop='pad'}}")
                    
                        .ui.inline.header $#{product.price_usd} #{product.title}
                        small added #{when}
                        .ui.circular.basic.icon.button.decrease_amount
                            i.minus.icon
                        .ui.inline.header #{amount}
                        .ui.circular.basic.icon.button.increase_amount
                            i.plus.icon
                        .ui.circular.basic.icon.button.remove_item
                            i.remove.red.icon
                        
                        +print_this
            .ui.header subtotal: $#{my_cart_subtotal}
            