template(name='checkout')
    with cart_order
        .ui.stackable.padded.grid
            .eight.wide.column
                .ui.header
                    i.cart.icon
                    |checkout
                .ui.large.list.scrolling
                    each cart_items
                        .item
                            // .image
                            img.ui.tiny.inline.rounded.image(src="{{c.url product.image_id width=400 height=300 crop='pad'}}")
                            .ui.inline.small.header $#{product.price_usd} #{product.title}
                            div
                            small added #{when}
                            .ui.circular.basic.icon.button.decrease_amount
                                i.minus.icon
                            .ui.inline.header #{amount}
                            .ui.circular.basic.icon.button.increase_amount
                                i.plus.icon
                            .ui.circular.basic.icon.button.remove_item
                                i.remove.red.icon
                            if is_admin
                                +print_this
            .eight.wide.column.scrolling
                .ui.header 
                    +i name='receipt'
                    |subtotal: $#{my_cart_subtotal}
                .ui.segment
                    a.ui.header(href="/user/#{currentUser.username}/addresses")
                        +i name='marker'
                        |billing address
                    each model_docs_helper 'address'
                        div
                        .ui.large.circular.button.pick_address(class=user_address_pick_class)
                            | #{street_address}, #{city}, #{zip_code}
                    // +boolean_edit key='use_profile_address' label='use profile address' direct=true
                    +boolean_edit key='use_new_address' label='use new address' direct=true
                    if use_new_address
                        .ui.input
                            input(type='text' placeholder='street')
                        .ui.input
                            input(type='text' placeholder='city')
                        .ui.input
                            input(type='text' placeholder='state')
                        .ui.input
                            input(type='number' placeholder='zip code')
                    div
                    // .ui.button.use_profile_address
                        |use profile address
                    .ui.inline.header 
                        +i name='truck'
                        |shipping address
                    +boolean_edit key='use_different_shipping_address' label='use different shipping address' direct=true
                    if use_different_shipping_address
                        .ui.input
                            input(type='text' placeholder='street')
                .ui.segment
                    .ui.header 
                        +i name='money'
                        |payment
                    div
                    +i name='wallet--v1' cl='ui inline image'
                    .ui.inline.header ${{fixed currentUser.credit}} credit
                    +boolean_edit key='use_credit' label='use credit' direct=true
                    +topup_button amount=10
                    +topup_button amount=20
                    +topup_button amount=50
                    +topup_button amount=100
                    div
                    .ui.basic.compact.circular.button.select_credit_card
                        +i name='card-exchange--v1' cl='ui inline image'
                        |existing credit card
                    .ui.basic.circular.button.use_coupon
                        +i name='cutting-coupon' cl='ui inline image'
                        |use coupon
                    .ui.basic.compact.circular.button.add_gift_card
                        +i name='gift-card' cl='ui inline image'
                        |add gift card
                    .ui.basic.compact.circular.button.select_new_credit_card
                        +i name='plus' cl='ui inline image'
                        |new credit card
                .ui.header shipping
                +boolean_edit key='receive_notifications' label='check this box to receive your vital reminder texts and emails (optional)' direct=true
                +boolean_edit key='has_read_tos' label=' I have read and agree to the website terms and conditions' direct=true
                if has_read_tos
                    .ui.big.fluid.circular.green.button.checkout_cart
                        i.large.send.icon
                        |submit
                else 
                    .ui.big.fluid.circular.green.disabled.button
                        i.large.send.icon
                        |submit (must agree to terms of service)
                
template(name='topup_button')                
    .ui.circular.compact.basic.button.initiate_topup
        |+$#{amount}