template(name='order_edit')
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.small.inline.header editing order
                .ui.inline.header #{order_product.title}
                .ui.inline.header #{order_product.price_usd}
                each order_product.ingredients
                    .ui.label #{this}
                // +array_edit key='tags' 
                // div
                // +float_edit key='serving_purchase_price' label='serving purchase price' direct=true
                div
                .ui.header $#{order_total_transaction_amount} 
                    small total transaction amount
                .ui.header product
                if order_product
                    .ui.small.header #{order_product.title}
                with order_product
                    +image_view key='image_id'
                    //- img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                    +html_view key='description' direct=true
            .six.wide.column
            .five.wide.column
                unless submitted
                    a.ui.large.fluid.green.button(href="/order/#{_id}")
                        |submit     
                        i.chevron.right.icon   
                else
                    a.ui.large.fluid.green.button(href="/order/#{_id}")
                        i.checkmark.icon   
                        |save     
                if can_delete
                    .ui.red.button.delete_order
                        i.remove.icon   
                        |cancel
