template(name='order_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.segment 
                        with order_product
                            a(href="/product/#{_id}")
                                img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                            a.ui.header(href="/product/#{_id}") #{title}
                            //- .ui.header #{cook_tip} cook tip
                            // .ui.header $#{order_total_transaction_amount} 
                            //     small total transaction amount
                    div
                .eight.wide.column
                    // a.ui.compact.button(href="/product/#{product_id}")
                    //     i.left.chevron.icon
                    //     img.ui.avatar.image(src="{{c.url order_product.image_id width=200 height=200}}")    
                    //     |#{order_product.title}
                    .ui.inline.header 
                        // strong '#{order_product.title}'
                        |order
                    if can_edit
                        a(href="/order/#{_id}/edit" title='edit')
                            i.pencil.link.large.circular.icon
                    .ui.header buyer #{_author_username}
                    .ui.header 
                        i.clock.icon
                        |when #{when}
                    if kve 'when' 'later'
                        +datetime_view key='pickup_datetime'
                    .ui.header status: #{status}
                    if complete
                        .ui.header
                            i.checkmark.icon
                            |complete
                        .ui.inline.header {{from_now complete_timestamp}}
                    .ui.header complete #{complete}
                    .ui.header 
                        i.shield.icon
                        |admin
                    if is_admin
                        +kvs key='status' value='started' label='mark started' direct=true
                        if kve status 'started'
                            +kvs key='status' value='ready' label='mark ready' direct=true
                            +kvs key='status' value='picked_up' label='picked up' direct=true
                    div
                    .ui.inline.header 
                        i.user.outline.icon
                        |customer
                    +kvs key='status' value='picked_up' label='mark picked up' direct=true
                    with buyer
                        +user_card
                    if is_admin
                        +print_this
                    .ui.header 
                        i.shield.icon
                        |runner
                    unless runner_viewed
                        .ui.basic.circular.large.button.mark_viewed
                            +icolor name='eye-checked' cl='ui avatar image'
                            |mark viewed
                    if runner_viewed 
                        div
                        +icolor name='eye-checked' cl='ui avatar image'
                        .ui.inline.header viewed {{from_now runner_viewed_timestamp}} 
                        .ui.small.grey.inline.header {{cal_time runner_viewed_timestamp}}
                        div
                        unless preparing
                            .ui.basic.circular.large.button.mark_preparing
                                +icolor name='new-product--v1' cl='ui avatar image'
                                |preparing
                    if preparing 
                        div
                        +icolor name='new-product--v1' cl='ui inline image'
                        .ui.inline.header prep started {{from_now preparing_timestamp}} 
                        .ui.small.grey.inline.header {{cal_time preparing_timestamp}}
                        div
                        unless prepared
                            .ui.basic.circular.large.button.mark_prepared
                                +icolor name='handle-with-care' cl='ui avatar image'
                                |prepared
                    if prepared 
                        div
                        +icolor name='handle-with-care' cl='ui inline image'
                        .ui.inline.header prepared {{from_now prepared_timestamp}} 
                        .ui.small.grey.inline.header {{cal_time prepared_timestamp}}
                        div
                        unless delivering
                            .ui.basic.circular.large.button.mark_delivering
                                +icolor name='truck' cl='ui inline image'
                                |delivering
                    if delivering 
                        div
                        +icolor name='truck' cl='ui inline image'
                        .ui.inline.header started delivery {{from_now delivering_timestamp}} 
                        .ui.small.grey.inline.header {{cal_time delivering_timestamp}}
                        
                        div
                        unless arrived
                            .ui.basic.circular.large.button.mark_arrived
                                +icolor name='checked-truck' cl='ui inline image'
                                |arrived
                    if arrived 
                        div
                        +icolor name='checked-truck' cl='ui inline image'
                        .ui.inline.header arrived {{from_now arrived_timestamp}} 
                        .ui.small.grey.inline.header {{cal_time arrived_timestamp}}
                        +image_edit key='delivery_photo' direct=true
                        if delivery_photo                        
                            div
                            .ui.basic.circular.large.button.mark_delivery_complete
                                i.large.checkmark.icon
                                |delivered
                    div
                    .ui.inline.header 
                        i.user.outline.icon
                        |customer
                    if delivered
                        if is_author
                            +kvs key='status' value='picked_up' label='picked up' direct=true
                            .ui.basic.circular.large.button.mark_arrived
                                +icolor name='pick-up' cl='ui inline image'
                                |mark picked up
                            
                    +kvs key='status' value='picked_up' label='mark picked up' direct=true
                        
                    +comments
                .four.wide.column
                    // |{{from_now datetime_available}}:
                    // +textarea_view key='description'
                    .ui.large.bulleted.list
                        .item
                            small ordered
                            strong #{when}
                            |({{long_date _timestamp}})
                        .item
                            small for 
                            strong ${{fixed order_price}}
                    div
                    if pickup
                        .ui.header
                            |pickup
                    else if delivery
                        .ui.header 
                            |delivery
                    if can_edit
                        .ui.small.compact.button.cancel_order
                            i.remove.icon
                            |cancel
                    .ui.hidden.divider
                    +comments