template(name='orders')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .twelve.wide.column
                    a.ui.center.aligned.header(href="/orders")
                        +i name='clock' cl='ui tiny inline image'
                        | orders
                    .ui.button today
                    .ui.button now
                    .ui.button later
                    .ui.button sort order
                    .ui.button sort by
                    // .ui.selection.animated.list.scrolling
                    each orders
                        +home_order
                .four.wide.column
                    |view
                    +skvs key='order_sort_filter' value='open'               
                    +skvs key='order_sort_filter' value='now'               
                    +skvs key='order_sort_filter' value='later'   
                    +skvs key='order_sort_filter' value=null label='all'
                    |delivery
                    +skvs key='order_delivery_filter' value='pickup'   
                    +skvs key='order_delivery_filter' value='delivery'   
                    +skvs key='order_delivery_filter' value=null label='all'   
                    div
                    |sort by
                    +skvs key='order_sort_key' value='price'               
            
            
            
template(name='home_order')
    a.ui.grid(href="/order/#{_id}")
        .row
            .four.wide.column.zoomer
                with order_dish
                    //- img.ui.mini.image(src=image)
                    +image_view key='image_id' direct=true cl='zoomer ui fluid image'
            .twelve.wide.column.zoomer
                .ui.header #{order_dish.title}
                a.ui.small.header.inline.lowercase(href="/order/#{_id}")
                    |$#{order_dish.price}
                .ui.inline.header status: 
                    if kve status 'pending'
                        i.large.yellow.clock.icon
                    else if kve status 'ready'
                        i.large.green.clock.icon
                    else if kve status 'complete'
                        i.large.green.checkmark.icon
                    |#{status}
                // .ui.inline.header dish_id: #{dish_id}
                .ui.small.inline.header {{from_now _timestamp}} 
                    small ({{long_date _timestamp}})
                a.ui.circular.icon.big.button(href="/order/#{_id}")
                    i.right.chevron.large.icon
                if in_dev 
                    +print_this
