template(name='kiosk_settings')
    .ui.header 
        +i name='self-service-kiosk' classes='ui mini image'
        |kiosk view
    .ui.padded.grid
        .three.wide.column
            if kiosk_doc
                if is_dev
                    .ui.icon.large.button.print_kiosk_doc(title='print session doc')
                        i.code.icon
                .ui.reset.icon.button(title='reload session')
                    i.refresh.icon
                .ui.delete_kiosk_doc.icon.button(title='delete session')
                    i.trash.icon
            else
                .ui.button.create_kiosk
                    |create kiosk doc
            +set_kiosk_template value='kiosk_away' label='set away template'
            +set_kiosk_template value='store' label='check in'
        .thirteen.wide.column
            //- +store
            with kiosk_doc
                +Template.dynamic template=kiosk_view

template(name='set_kiosk_template')            
    .ui.button.set_kiosk_template #{label}



template(name='kiosk_away')
    .ui.text.container.midgard
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        //- +inline_doc slug='frontdesk_status' classes='ui large header'
        +document_view key='frontdesk_status' 
    //- .ui.header We're away from the desk for 5 minutes
template(name='store_session')
    //- img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    if loading_checkin
        .ui.center.aligned.segment
            i.massive.loading.refresh.icon
            .ui.massive.header running checks and loading profile
    else 
        .ui.padded.middle.aligned.grid.header-wrapper
            .row
                .six.wide.column
                    //- if is_staff
                    //- a.ui.header(href="/user/#{user.username}")
                    .ui.large.icon.button.cancel_checkin
                        i.big.left.chevron.icon
                    if user.kiosk_photo
                        with user
                            +image_view key='kiosk_photo' label='photo' direct=true classes='small circular shadowed'
                    else
                        //- h1.ui.header click below to add photo
                        //- .ui.header (switch camera to front)
                        with user
                            +image_edit key='kiosk_photo' label=' ' direct=true
                    //- img.ui.medium.image(src="{{c.url user.image_id width=500 height=500 gravity='face' crop='fill'}}")
                    //- .meta @#{user.username}
                    //- +camera
                .ten.wide.column
                    h1.ui.huge.header.f11.grtext
                        |#{user.first_name} #{user.last_name} 
                    unless adding_guests
                        with user
                            +user_check_steps
                    if user.public_staff_notes
                        h2
                            small staff notes:
                            strong !{user.public_staff_notes}
                    //- if is_staff
                    //-     +store_stats user=user
                    if user.kiosk_photo
                        if user.member_waiver_signed
                            if user.rules_and_regulations_signed
                                if adding_guests
                                    //- .ui.header 
                                    //-     //- i.users.icon
                                    //-     |session guests
                                    if resident_guests
                                        .ui.small.inline.header recent guests
                                    each resident_guests
                                        .ui.big.teal.button.add_recent_guest #{guest_name} #{first_name} #{last_name}
                                    div
                                    .ui.big.button.add_guest
                                        //- i.plus.icon
                                        //- +i name='add-user-group-man-man--v2' classes='ui inline image'
                                        strong new guest
                                    .ui.inline.header or
                                    +multi_doc_input key='guests' ref_model='guest' title='lookup previous...' direct=true
                                    div
                                    with checking_in_doc
                                        if checking_in_doc.guest_ids
                                            .ui.inline.header session guests
                                            each checking_in_doc.guest_ids
                                                +resident_guest
                                else
                                    .ui.big.compact.fluid.button.toggle_adding_guest 
                                        //- i.plus.large.icon
                                        //- +i name='add' classes='ui inline image'                
                                        .ui.inline.big.header
                                            i.plus.grey.icon
                                            |guest
                                //- .poll_area
                                //-     with current_poll
                                //-         .ui.hidden.divider
                                //-         .ui.tiny.grey.inline.header optional (+1 karma)
                                //-         .ui.inline.header #{title}
                                //-         //- each upvoter_ids
                                //-         //-     .ui.label #{this}
                                //-         //- each downvoter_ids
                                //-         //-     .ui.label #{this}
                                //-         //- //- each options
                                //-         //-     .ui.button.choose_this #{this}
                                //-         .ui.center.aligned.segment
                                //-             .ui.icon.big.button.vote_yes
                                //-                 i.thumbs.up.outline.big.icon
                                //-             .ui.icon.big.button.vote_no
                                //-                 i.thumbs.down.outline.big.icon
                    //- if user.kiosk_photo
                    //-     if user.member_waiver_signed
                    //-         if user.rules_and_regulations_signed
                    //-             .hc_visit_purpose
                    //-                 with checking_in_doc    
                    //-                     .ui.hidden.divider
                    //-                     .ui.tiny.grey.inline.header optional (+1 karma)
                    //-                     .ui.inline.header purpose of visit
                    //-                     +boolean_edit key='weight_lifting' label='weights' direct=true
                    //-                     +boolean_edit key='cardio' label='cardio' direct=true
                    //-                     +boolean_edit key='hot tub' label='hot tub' direct=true
                    //-                     +boolean_edit key='pool' label='pool' direct=true
                    //-                     +boolean_edit key='sauna_steamroom' label='sauna/steamroom' direct=true
                    //-                     +boolean_edit key='garden_key' label='garden key' direct=true
                    //-                     +boolean_edit key='other' label='other' direct=true
                            //- +boolean_edit key='weight_lifting' label='weights' direct=true
                            //- div
                            //- +boolean_edit key='cardio' label='cardio' direct=true
                            //- div
                            //- +boolean_edit key='hot tub' label='hot tub' direct=true
                            //- div
                            //- +boolean_edit key='pool' label='pool' direct=true
                            //- div
                            //- +boolean_edit key='sauna_steamroom' label='sauna/steamroom' direct=true
                            //- div
                            //- +boolean_edit key='garden_key' label='garden key' direct=true
                            //- div
                            //- +boolean_edit key='other' label='other' direct=true
            .row
                .sixteen.wide.column
                    unless user.kiosk_photo
                        .ui.disabled.massive.fluid.button
                            |new photo required
                        //- .ui.center.aligned.header
                        //-     |please click 'Choose File' above, switch the camera to the front, and take photo to proceed 
                    unless user.member_waiver_signed
                        .ui.massive.fluid.red.button.sign_guidelines
                            +i name='hand-with-pen' classes='ui middle aligned image'
                            .ui.inline.header 
                                | sign member waiver            
                    unless user.rules_and_regulations_signed
                        .ui.massive.fluid.red.button.sign_rules
                            +i name='hand-with-pen' classes='ui middle aligned image'
                            .ui.inline.header 
                                | sign rules and regs
                    if user.email_red_flagged
                        .ui.disabled.massive.fluid.button
                            |email verification required, please see staff
                    if user.gov_red_flagged
                        .ui.disabled.massive.fluid.button
                            |Government Id verification required
                            
                
                    unless user.gov_red_flagged
                        if user.kiosk_photo
                            if user.member_waiver_signed
                                if user.rules_and_regulations_signed
                                    unless user.email_red_flagged
                                        .ui.massive.fluid.green.button.submit_checkin
                                            .ui.inline.inverted.header 
                                                | check in
                                                //- i.checkmark.green.icon
                                                //- if timer_engaged
                                                    //- small (auto in #{timer})                    
                                                i.right.chevron.large.icon
                //- if timer_engaged
                //-     //- .ui.small.grey.header auto check in #{timer} seconds
                //-     .ui.button.cancel_auto_checkin
                //-         i.red.ban.icon
                //-         | cancel auto check in
                
template(name='resident_guest')
    with guest_doc
        .ui.big.button.remove_guest 
            i.remove.icon
            .ui.inline.header #{guest_name} #{first_name} #{last_name}


template(name='store_stats')
    if is_dev
        .ui.button.recalc recalc #{user.username}
    div
    //- +ismall name='line-chart'
    .ui.grey.inline.header 
        |hc stats
    .ui.horizontal.list
        .item #{user.total_session_count} sessions
        .item ##{user.global_rank}


template(name='store_status_small')
    div
    .ui.inline.header 
        |Upper Hot Tub
        +water_status slug='upper_hot_tub'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_uht_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_uht_reading.ph} ph 
    //-     .item
    //-         |#{latest_uht_reading.chlorine} chl
    //-     .item
    //-         |#{latest_uht_reading.when}
        //- div
        //- |by #{latest_uht_reading.author.name}
    div
    .ui.inline.header Lower Hot Tub
        +water_status slug='lower_hot_tub'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_lht_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_lht_reading.ph} ph 
    //-     .item
    //-         |#{latest_lht_reading.chlorine} chl
    //-     .item
    //-         |#{latest_lht_reading.when}
    //-     div
    //-     |by #{latest_lht_reading.author.name}
            
    div
    .ui.inline.header
        | Pool
        +water_status slug='pool'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_pool_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_pool_reading.ph} ph 
    //-     .item
    //-         |#{latest_pool_reading.chlorine} chl
    //-     .item
    //-         |#{latest_pool_reading.when}
    //-     div
    //-     |by #{latest_pool_reading.author.name}
template(name='water_status')
    if is_staff
        if on
            i.checkmark.green.link.icon.toggle_status
        else    
            i.ban.red.link.icon.toggle_status
    else
        if on
            i.checkmark.green.large.icon
        else    
            i.ban.red.large.icon
    //- with latest_reading
    //-     | #{temperature}&#8457;
    //- div
