template(name='kiosk_settings')
    .ui.header 
        +i name='self-service-kiosk' classes='ui mini image'
        |kiosk view
    .ui.padded.grid
        .three.wide.column
            if kiosk_doc
                if is_dev
                    .ui.icon.large.button.print_kiosk_doc(title='print session doc')
                        i.code.icon
                .ui.reset.icon.button(title='reload session')
                    i.refresh.icon
                .ui.delete_kiosk_doc.icon.button(title='delete session')
                    i.trash.icon
            else
                .ui.button.create_kiosk
                    |create kiosk doc
            +set_kiosk_template value='kiosk_away' label='set away template'
            +set_kiosk_template value='store' label='check in'
        .thirteen.wide.column
            //- +store
            with kiosk_doc
                +Template.dynamic template=kiosk_view

template(name='set_kiosk_template')            
    .ui.button.set_kiosk_template #{label}



template(name='kiosk_away')
    .ui.text.container.midgard
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        //- +inline_doc slug='frontdesk_status' classes='ui large header'
        +document_view key='frontdesk_status' 
    //- .ui.header We're away from the desk for 5 minutes
                
template(name='resident_guest')
    with guest_doc
        .ui.big.button.remove_guest 
            i.remove.icon
            .ui.inline.header #{guest_name} #{first_name} #{last_name}


template(name='store_stats')
    if is_dev
        .ui.button.recalc recalc #{user.username}
    div
    //- +ismall name='line-chart'
    .ui.grey.inline.header 
        |hc stats
    .ui.horizontal.list
        .item #{user.total_session_count} sessions
        .item ##{user.global_rank}


template(name='store_status_small')
    div
    .ui.inline.header 
        |Upper Hot Tub
        +water_status slug='upper_hot_tub'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_uht_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_uht_reading.ph} ph 
    //-     .item
    //-         |#{latest_uht_reading.chlorine} chl
    //-     .item
    //-         |#{latest_uht_reading.when}
        //- div
        //- |by #{latest_uht_reading.author.name}
    div
    .ui.inline.header Lower Hot Tub
        +water_status slug='lower_hot_tub'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_lht_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_lht_reading.ph} ph 
    //-     .item
    //-         |#{latest_lht_reading.chlorine} chl
    //-     .item
    //-         |#{latest_lht_reading.when}
    //-     div
    //-     |by #{latest_lht_reading.author.name}
            
    div
    .ui.inline.header
        | Pool
        +water_status slug='pool'
        //- div
    //- .ui.small.horizontal.list
    //-     .item
    //-         |#{latest_pool_reading.temperature}&#8457;
    //-     .item
    //-         |#{latest_pool_reading.ph} ph 
    //-     .item
    //-         |#{latest_pool_reading.chlorine} chl
    //-     .item
    //-         |#{latest_pool_reading.when}
    //-     div
    //-     |by #{latest_pool_reading.author.name}
template(name='water_status')
    if is_staff
        if on
            i.checkmark.green.link.icon.toggle_status
        else    
            i.ban.red.link.icon.toggle_status
    else
        if on
            i.checkmark.green.large.icon
        else    
            i.ban.red.large.icon
    //- with latest_reading
    //-     | #{temperature}&#8457;
    //- div
