template(name='store_session')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.large.button(href="/store")
                        i.chevron.left.icon
                        i.large.food.icon
                    .ui.header
                        i.clock.icon
                        |#{current_doc._author_username}'s store session
                    .ui.header created at #{when}
                    if closed 
                        .ui.small.header closed
                        .ui.button.reopen_session
                            |reopen
                    else    
                        .ui.button.end_session
                            i.undo.icon
                            |end session
                    .ui.header 
                        i.large.cart.icon
                        |current cart
                    .ui.list
                        each cart_product_docs
                            .item
                                .ui.inline.label $#{price_usd}
                                .header #{title}
                                i.remove.circular.link.icon.remove_cart_item(title='remove from cart')
                    .ui.header subtotal #{cart_subtotal}
                    if cart_product_docs
                        .ui.fluid.green.button
                            i.checkmark.icon
                            |checkout
                .twelve.wide.column
                    if skv_is 'view_barcode' true
                        i.circular.close.icon.close_barcode(title='close barcode')
                        #barcode
                    else
                        .ui.large.circular.button.init
                            |start barcode reader
                    .ui.header nf menu
                    .ui.stackable.three.cards
                        each products
                            +session_product
                                
template(name='session_product')
    .ui.card
        .content
            a.image.zoomer.add_to_cart 
                img.ui.centered.image.rounded(src="{{c.url image_id width=400 height=300 crop='pad'}}")
            .ui.header #{title}
            // if current_doc.closed
            // .ui.icon.circular.basic.green.disabled.button
            //     i.cart.plus.icon
            // else
            // .ui.icon.circular.basic.green.button.add_to_cart
            .ui.icon.fluid.basic.circular.button.icon.add_to_cart
                i.cart.plus.large.green.icon
                // a.basic.small.button.zoomer(href="/product/#{_id}")
                //     |view

                                