template(name='store_session')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.large.button(href="/store")
                        i.chevron.left.icon
                        i.large.food.icon
                    .ui.header
                        i.clock.icon
                        |#{current_doc._author_username}'s store session
                    .ui.header created at #{when}
                .eight.wide.column
                    .ui.header nf menu
                    .ui.stackable.three.cards
                        each products
                            .ui.card
                                .content
                                    a.image.zoomer.add_to_cart 
                                        img.ui.centered.image.rounded(src="{{c.url image_id width=400 height=300 crop='pad'}}")
                                
                                    .ui.header #{title}
                                    .ui.icon.circular.basic.green.button.add_to_cart
                                        i.plus.icon
                                        // |add to cart
                                    a.basic.small.button.zoomer(href="/product/#{_id}")
                                        |view
                .four.wide.column
                    .ui.header 
                        i.large.cart.icon
                        |current cart
                    each cart_product_docs
                        .ui.inline.header #{title}
                        i.remove.circular.icon
                    if closed 
                        .ui.small.header closed
                        .ui.button.reopen_session
                            |reopen
                    else    
                        .ui.button.end_session
                            i.undo.icon
                            |end session