template(name='store')
    .ui.stackable.padded.grid
        .centered.row
            .sixteen.wide.column
                .ui.inline.header 
                    +i name='shop'
                    |store
                a.ui.big.button(href="/staff") 
                    i.shield.icon
                    |staff portal
                a.ui.big.button(href="/kiosk") 
                    i.tablet.icon
                    |kiosk
                .ui.button.new_store_session
                    i.plus.icon
                    |new store session
                .ui.header 
                    i.shield.icon
                    |current store sessions
                .ui.link.list
                    each store_sessions
                        a.item(href="/store_session/#{_id}")  #{_author_username} #{when}
                            if open 
                                .ui.basic.green.label
                                    |open
                            if closed
                                .ui.basic.green.label
                                    |disabled
                .ui.header 
                    i.shield.icon
                    |customers today
                each checkedin_customers
                    .ui.header #{username}
                .ui.header 
                    i.money.icon
                    |orders today
                each checkedin_customers
                    .ui.header #{username}
        // .centered.row
        //     .fourteen.wide.column
        //         +map