template(name='store_session')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .twelve.wide.column
                    a.ui.large.basic.circular.button(href="/store")
                        i.chevron.left.icon
                        i.large.building.icon
                    .ui.inline.header
                        i.clock.icon
                        |#{current_doc._author_username}'s store session
                    div
                    if skv_is 'view_barcode' true
                        i.circular.close.link.icon.zoomer.close_barcode(title='close barcode')
                        .ui.small.inline.header products will be added to cart when scanned
                        #barcode
                    else
                        .ui.large.icon.basic.circular.button.init
                            i.barcode.big.icon
                            // |start barcode reader
                    .ui.large.icon.input
                        i.search.icon
                        input(type='text' placeholder='search title...')
                    .ui.large.icon.input
                        i.hashtag.icon
                        input(type='number' placeholder='id #...')
                    .ui.stackable.three.cards.scrolling
                        each products
                            +session_product
                .four.wide.column
                    .ui.header created at #{when}
                    // if closed 
                    //     .ui.small.header closed
                    //     .ui.button.reopen_session
                    //         |reopen
                    // else    
                    //     .ui.button.end_session
                    //         i.undo.icon
                    //         |end session
                    .ui.header 
                        i.large.cart.icon
                        |cart
                    .ui.list
                        each cart_product_docs
                            .item
                                img.ui.avatar.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")

                                .ui.inline.basic.circular.label $#{price_usd}
                                .ui.small.inline.header #{title}
                                i.remove.circular.link.icon.remove_cart_item.zoomer(title='remove from cart')
                    .ui.header subtotal $#{subtotal}
                    if cart_product_docs
                        .ui.fluid.green.button.checkout_session
                            i.checkmark.icon
                            |checkout
                                
template(name='session_product')
    .ui.card.zoomer
        .content
            a.image.zoomer.add_to_cart 
                img.ui.centered.image.rounded(src="{{c.url image_id width=400 height=300 crop='pad'}}")
            .ui.header #{title}
            // if current_doc.closed
            // .ui.icon.circular.basic.green.disabled.button
            //     i.cart.plus.icon
            // else
            // .ui.icon.circular.basic.green.button.add_to_cart
            // .ui.icon.fluid.basic.circular.button.icon.add_to_cart
            //     i.cart.plus.large.green.icon
            //     // a.basic.small.button.zoomer(href="/product/#{_id}")
            //     //     |view

                                