template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small product
                    .ui.large.circular.icon.green.button.save_product(title='save product')
                        i.checkmark.large.icon   
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +link_edit key='product_link' label='old site link' direct=true
                    div
                    +float_edit key='price_usd' label='$ price' direct=true
                .twelve.wide.column
                    +boolean_edit key='gluten_free' label='gluten free' direct=true icon='no-gluten'
                    +boolean_edit key='paleo' label='paleo' direct=true icon='caveman'
                    +boolean_edit key='vegetarian' label='vegetarian' direct=true icon='vegetarian-mark'
                    +boolean_edit key='no_sugar_added' label='no sugar added' direct=true icon='no-sugar2'
                    +boolean_edit key='vegan' label='vegan' direct=true icon='vegan-symbol'
                    +boolean_edit key='no_gmo' label='no gmo' direct=true icon='no-gmo'
                    +boolean_edit key='local' label='local' direct=true icon='marker'
                    +boolean_edit key='nut_free' label='nut free' direct=true icon='no-peanut'
                    +boolean_edit key='rescued' label='rescued' direct=true icon='nothing-found'
                    +boolean_edit key='kosher' label='kosher' direct=true icon='kosher-food'
                    +boolean_edit key='organic' label='organic' direct=true icon='organic-food'
                    +boolean_edit key='jar' label='jar container (requires deposit & return)' direct=true icon='mason-jar'
                    +number_edit key='calories' label='calories' direct=true
                    div
                    +array_edit key='ingredients' label='ingredients' icon='ingredients' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +text_edit key='size_description' label='size description'  direct=true
                    +html_edit key='description' label='description' direct=true
                    +text_edit key='packaging' label='packaging' icon='package' direct=true
                    if can_delete
                        .ui.red.button.delete_product
                            i.remove.icon   
                            | delete
                


template(name='pick_section')
    .ui.big.image.label
        img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
        | #{title}