template(name='forgot_password')
    .ui.padded.stackable.grid
        .centered.row
            .fifteen.wide.column
                //- h1.ui.center.aligned.header Reset Password
                h1.ui.center.aligned.grey.header
                    +i name='forgot-password' cl='ui mini inline image'                    
                    |forgot password 
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.center.aligned.basic.segment
                    // .ui.inline.header
                    //     //- +i name='user'
                    //     | username
                    // .ui.large.input(class=login_class)
                    //     input.username(type='text')
                    // .ui.submit.button.submit_username submit
                    // .ui.header or
                    .ui.inline.header
                        +icon name='email'
                        | email
                    .ui.labeled.large.input
                        input.email(type='email')
                    .ui.submit.button.submit_email submit
                if username
                    if logging_in
                        .ui.fluid.large.button.enter(title="login #{username}" class=enter_class)
                            |login '#{username}'
                            i.right.arrow.icon
                    else
                        .ui.center.aligned.secondary.segment
                            .ui.small.grey.header username "#{username}" not found
                            a(href='/choose_persona') register
                .ui.center.aligned.basic.segment    
                    a.ui.big.basic.button(href='/login') 
                        i.sign.in.icon
                        |login
                    // a.ui.big.basic.button(href='/register')
                    //     +icon name='add-user-male' cl='ui mini inline image'
                    //     |register
template(name='reset_password')
    .ui.padded.stackable.grid
        .centered.row
            .fifteen.wide.column
                .ui.center.aligned.grey.header
                    i.refresh.icon
                    |reset password 
                form#reset_password_form.ui.form
                    .field
                        label password
                        .ui.input
                            input.password1(type='password')
                            //- i.lock.icon
                    //- .field
                    //-     label password 2
                    //-     .ui.input
                    //-         input.password2(type='password')
                    //-         //- i.lock.icon
                    button.ui.submit.button(type='submit') Submit
