template(name='events')
    .ui.stackable.grid
        .four.wide.column
            .ui.inline.header 
                i.events.icon
                |events
            .ui.icon.button.add_event 
                i.plus.icon
            div
            +event_cloud
        .twelve.wide.column
            each events
                .ui.segment
                    unless is_editing
                        .ui.small.header #{text}
                        .ui.small.header url: #{url}
                        .ui.small.header pathname: #{pathname}
                        each tags
                            .ui.small.basic.label #{this}
                        .ui.icon.circular.button.edit
                            i.pencil.icon
                        +author_info
                        +voting
                    else 
                        +text_edit key='title' direct=true
                        +array_edit key='tags' direct=true
                        +remove_button
                        .ui.icon.circular.green.button.save
                            i.checkmark.icon




template(name='event_cloud')
    .ui.hidden.divider
    .ui.grey.small.header 
        |targets    
    if selected_target_id
        with selected_target
            .unselect_target.ui.active.circular.button
                strong #{title}
    else 
        each targets
            .ui.compact.circular.button.select_target 
                strong #{title}
    .spacer
    .ui.grey.small.inline.header 
        i.tags.icon
        |tags    
    if selected_event_tags
        #clear_event_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_event_tags
            .unselect_event_tag.ui.active.circular.button
                strong #{this}
    each all_event_tags
        .ui.compact.circular.button.select_event_tag(class=cloud_tag_class) 
            strong #{this.name}