template(name='sub_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.segment 
                        with sub_product
                            a(href="/product/#{_id}")
                                img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                            a.ui.header(href="/product/#{_id}") #{title}
                            .ui.inline.header ingredients
                            each ingredients
                                .ui.basic.label #{this}
                            //- .ui.header #{cook_tip} cook tip
                            // .ui.header $#{sub_total_transaction_amount} 
                            //     small total transaction amount
                    div
                .eight.wide.column
                    // a.ui.compact.button(href="/product/#{product_id}")
                    //     i.left.chevron.icon
                    //     img.ui.avatar.image(src="{{c.url sub_product.image_id width=200 height=200}}")    
                    //     |#{sub_product.title}
                    .ui.inline.header 
                        // strong '#{sub_product.title}'
                        |subscription
                    if can_edit
                        a(href="/sub/#{_id}/edit" title='edit')
                            i.pencil.link.large.icon
                    .ui.header buyer #{_author_username}
                    .ui.header day: #{sub_day}
                    .ui.header frequency: #{sub_frequency}
                    .ui.header 
                        i.clock.icon
                        |created #{when}
                    // if kve 'when' 'later'
                    //     +datetime_view key='pickup_datetime'
                    // .ui.header status: #{status}
                    // .ui.header 
                    //     i.shield.icon
                    //     |admin
                    // if is_admin
                        // +kvs key='status' value='started' label='mark started' direct=true
                        // if kve status 'started'
                        //     +kvs key='status' value='ready' label='mark ready' direct=true
                        //     +kvs key='status' value='picked_up' label='picked up' direct=true
                    div
                    .ui.inline.header 
                        i.user.outline.icon
                        |customer
                    // +kvs key='status' value='picked_up' label='mark picked up' direct=true
                    with buyer
                        +user_card
                .four.wide.column
                    // |{{from_now datetime_available}}:
                    // +textarea_view key='description'
                    .ui.large.bulleted.list
                        .item
                            small added
                            strong #{when}
                            |({{long_date _timestamp}})
                        // .item
                        //     small for 
                        //     strong ${{fixed sub_price}}
                    div
                    if pickup
                        .ui.header
                            |pickup
                    else if delivery
                        .ui.header 
                            |delivery
                    if can_edit
                        .ui.basic.button.unsub
                            i.undo.icon
                            |unsubscribe
                    .ui.hidden.divider
                    +comments