template(name='sub_edit')
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header
                    i.pencil.icon
                    i.clock.icon
                    |editing subscription
                .ui.inline.header #{sub_product.title}
                .ui.inline.header #{sub_product.price_usd}
                each sub_product.ingredients
                    .ui.label #{this}
                // +array_edit key='tags' 
                // div
                // +float_edit key='serving_purchase_price' label='serving purchase price' direct=true
                div
                .ui.header $#{sub_total_transaction_amount} 
                    small total transaction amount
                .ui.header product
                // if sub_product
                with sub_product
                    .ui.small.header #{sub_product.title}
                    +image_view key='image_id'
                    //- img.ui.large.image(src="{{c.url image width=800 height=500 gravity='face' crop='fill'}}")
                    +html_view key='description' direct=true
            .six.wide.column
                .ui.header day
                +kvs key='sub_day' value='sunday' direct=true
                // +kvs key='day' value='now' direct=true
                +kvs key='sub_day' value='monday' direct=true
                +kvs key='sub_day' value='tuesday' direct=true
                +kvs key='sub_day' value='wednesday' direct=true
                +kvs key='sub_day' value='thursday' direct=true
                +kvs key='sub_day' value='friday' direct=true
                +kvs key='sub_day' value='saturday' direct=true
                .ui.header frequency
                +kvs key='sub_frequency' value='weekly' direct=true
                +kvs key='sub_frequency' value='biweekly' direct=true
                // +kvs key='when' value='later' direct=true
                // if kve 'when' 'later'
                //     +datetime_edit key='pickup_datetime' direct=true
            .five.wide.column
                // else  
                //     .ui.red.disabled.button(title='existing reservations')
                //         i.remove.icon   
                //         | can't cancel  
                .ui.header delivery method
                // +kvs key='delivery_method' value='delivery' icon='deliver-food' direct=true
                // +kvs key='delivery_method' value='pickup' icon='doormat' direct=true

                // if key_value_is 'delivery_method' 'delivery'
                //     +datetime_edit key='delivery_timedate' label='delivery datetime' direct=true
                // if key_value_is 'delivery_method' 'pickup'
                //     +datetime_edit key='pickup_timedate' label='pickup timedate' direct=true
                unless submitted
                    a.ui.large.fluid.green.button(href="/sub/#{_id}")
                        |submit     
                        i.chevron.right.icon   
                else
                    a.ui.large.fluid.green.button(href="/sub/#{_id}")
                        i.checkmark.icon   
                        |save     
                if can_delete
                    .ui.red.button.delete_sub
                        i.remove.icon   
                        |cancel & delete
