template(name='subs')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                .twelve.wide.column
                    a.ui.center.aligned.header(href="/subs")
                        +i name='clock' cl='ui tiny inline image'
                        | subs
                    .ui.button today
                    .ui.button now
                    .ui.button later
                    .ui.button sort sub
                    .ui.button sort by
                    // .ui.selection.animated.list.scrolling
                    each subs
                        +home_sub
                .four.wide.column
                    |view
                    +skvs key='sub_sort_filter' value='open'               
                    +skvs key='sub_sort_filter' value='now'               
                    +skvs key='sub_sort_filter' value='later'   
                    +skvs key='sub_sort_filter' value=null label='all'
                    |delivery
                    +skvs key='sub_delivery_filter' value='pickup'   
                    +skvs key='sub_delivery_filter' value='delivery'   
                    +skvs key='sub_delivery_filter' value=null label='all'   
                    div
                    |sort by
                    +skvs key='sub_sort_key' value='price'               
            
            
            
template(name='home_sub')
    a.ui.grid(href="/sub/#{_id}")
        .row
            .four.wide.column.zoomer
                with sub_product
                    //- img.ui.mini.image(src=image)
                    +image_view key='image_id' direct=true cl='zoomer ui fluid image'
            .twelve.wide.column.zoomer
                .ui.header #{sub_product.title}
                a.ui.small.header.inline.lowercase(href="/sub/#{_id}")
                    |$#{sub_product.price}
                .ui.inline.header status: 
                    if kve status 'pending'
                        i.large.yellow.clock.icon
                    else if kve status 'ready'
                        i.large.green.clock.icon
                    else if kve status 'complete'
                        i.large.green.checkmark.icon
                    |#{status}
                // .ui.inline.header product_id: #{product_id}
                .ui.small.inline.header {{from_now _timestamp}} 
                    small ({{long_date _timestamp}})
                a.ui.icon.big.button(href="/sub/#{_id}")
                    i.right.chevron.large.icon
                if in_dev 
                    +print_this
