template(name='user_subs')
    .ui.header
        +i name='renew-subscription'
        |#{subs.count} product subscriptions
    .scrolling
        each model_docs_helper 'product_subscription' 
            +profile_sub_item

template(name='profile_sub_item')
    .ui.grid
        .row
            .four.wide.column
                with sub_product
                    //- img.ui.mini.image(src=image)
                    +image_view key='image_id' direct=true cl='zoomer ui tiny image'
            .twelve.wide.column
                .ui.header #{sub_product.title}
                    strong $#{sub_product.price_usd}
                .ui.large.basic.label day:#{sub_day}
                .ui.large.basic.label frequency:#{sub_frequency}
                
                .ui.inline.header status: 
                    if kve status 'pending'
                        i.large.yellow.clock.icon
                    else if kve status 'ready'
                        i.large.green.clock.icon
                    else if kve status 'complete'
                        i.large.green.checkmark.icon
                    |#{status}
                // .ui.inline.header product_id: #{product_id}
                
                a.ui.icon.big.button(href="/sub/#{_id}")
                    i.right.chevron.large.icon
                if in_dev 
                    +print_this
                if is_admin
                    +remove_button
